<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARCS Demo</title>
    <script src="js/libs/angular.min1-5.js"></script>



    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="js/libs/moment.min.js"></script>

    <script>
        angular.module("demoApp",[]).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("demoApp").constant("moment", moment);


    </script>

    <style>
        .iconSpacing {

            padding : 15px
        }
    </style>

    <script src="js/arcsdemo.js"></script>

</head>
<style>

</style>



<body style="padding:8px;padding-bottom: 70px">

<div ng-app="demoApp" ng-controller="demoCtrl">

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">

            <!--
            <br/>
            <button class="btn btn-default" ng-click="showLog()">Log</button>
-->
            <i ng-hide="state=='showlog'" class="glyphicon glyphicon-book iconSpacing" ng-click="showLog()"></i>

            <i ng-show="patient" class="glyphicon glyphicon-search iconSpacing" ng-click="searchPatient()"></i>

            <!--
            <button class="btn btn-default" ng-click="searchPatient()">Find Patient</button>

            -->



                <i ng-show="patient && !(state=='summary')" class="glyphicon glyphicon-user iconSpacing" ng-click="state='summary'"></i>
                <!--
                <button ng-show="patient"
                        class="btn btn-default" ng-click="state='summary'">Show Patient</button>
                -->



            <i ng-show="patient" class="glyphicon glyphicon-plus pull-right iconSpacing" ng-click="state='newar'"></i>

<!--
            <button ng-show="patient"
                    class="btn btn-default pull-right" ng-click="state='newar'">Add reaction</button>
            -->
        </div>
    </nav>



    <div ng-show="state=='search'">



        <h1>ARCS Demo app</h1>

        <p>This is a small application developed for the ARCC conference to demonstrate how easy it is to
        write FHIR clients - at least non complex ones.</p>
        <p>The time budget to develop the application was 1 day - 8 hours.</p>

        <h4>Name </h4>
        <br/>
        <div class="row">
            <div class="col-xs-8">

                <input type="text" class="form-control" ng-model="input.name"/>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ng-click="findPatient(input.name)">Find</button>
            </div>
        </div>

        <div ng-hide="patients" style="margin-top: 20px">
            <em >Enter the name of the patient you wish to display, then press the Find button</em>
        </div>

        <h3 ng-show="patients" style="margin-top: 20px">Matching patients</h3>

        <div class="row">
            <div class="col-xs-8">
                <div class="list-group">
                    <li ng-repeat="entry in patients.entry" class="list-group-item">
                        <div ng-repeat="name in entry.resource.name">
                            <div ng-click="selectEntry(entry)">{{name.text}}</div>
                        </div>

                    </li>
                </div>

            </div>
        </div>



        <h4>Icons</h4>
        <div><i class="glyphicon glyphicon-book iconSpacing" ></i>Show Log</div>
        <div><i class="glyphicon glyphicon-search iconSpacing" ></i>Find Patient</div>
        <div><i class="glyphicon glyphicon-user iconSpacing" ></i>Patient Summary</div>
        <div><i class="glyphicon glyphicon-plus iconSpacing" ></i>Add Adverse Event</div>


    </div>

    <div ng-show="state=='newar'">
        <div class="banner">Add new Adverse Event</div>
        <h4>Description</h4>
        <textarea class="form-control" ng-model="input.new.description"></textarea>
        <h4>When did it occur</h4>
        <input class="form-control" type="date" ng-model="input.new.date"/>


        <h4>Substance (if a reaction)</h4>
        <div class="row">
            <div class="col-xs-9">
                <input class="form-control" type="text" placeholder="Enter substance, if known" ng-model="input.new.substance"/>


                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-7">
                        <div ng-show="substances">
                            <h5>Matching substances. Tap to select</h5>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in substances"

                            ng-click="selectSubstance(item)">
                                {{item.display}}
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary pull-right" ng-click="findSubstance(input.new.substance)">Find</button>
            </div>
        </div>

        <div ng-show="input.new.date && input.new.description">
            <button class="btn btn-danger" ng-click="saveAE()">Add</button>
        </div>

    </div>

    <div ng-show="state=='summary'">


        <div class="banner">
            Clinical data for
            <span ng-repeat="name in patient.name">
                <span>{{name.text}}</span>
            </span>
        </div>


        <h5 ng-click="show.ar = !show.ar">Adverse Reactions ({{adverseEvents.entry.length}})</h5>

        <div class="list-group" ng-show="show.ar">
            <li ng-repeat="entry in adverseEvents.entry" class="list-group-item">
                {{entry.resource.description}}
                <div ng-show="entry.resource.contained">
                    <!-- I can only do this because I know there's only a single contained entry, and what it is...-->
                    (Substance: {{entry.resource.contained[0].code.coding[0].display}}}
                </div>
                <div><em>{{entry.resource.date | date:short}}</em></div>
            </li>
        </div>


        <h5 ng-click="show.condition = !show.condition">Problem list ({{conditions.entry.length}})</h5>

        <div class="list-group" ng-show="show.condition">
            <li ng-repeat="entry in conditions.entry" class="list-group-item">
                {{entry.resource.code.text}}
            </li>
        </div>

        <h5 ng-click="show.med = !show.med">Medications ({{meds.entry.length}})</h5>

        <div class="list-group" ng-show="show.med">
            <li ng-repeat="entry in meds.entry" class="list-group-item">
                {{entry.resource.medicationCodeableConcept.text}}
                {{entry.resource.medicationReference.display}}
                <div>
                    <em>{{entry.resource.dosage[0].text}}</em>
                </div>
            </li>
        </div>

    </div>

    <div ng-show="state=='showlog'">
        <div class="banner">Log of REST calls</div>
        <div class="list-group">
            <li ng-repeat="logEntry in log" class="list-group-item">
                {{logEntry.method}}:{{logEntry.url}}


            </li>
        </div>
    </div>

</div>


</body>
</html>