<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARCS Demo</title>
    <script src="js/libs/angular.min1-5.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>


    <script>
        angular.module("demoApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        // angular.module("sampleApp").constant("moment", moment);
        // <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js">

    </script>

</head>
<style>

</style>

<script>

    angular.module("demoApp",[])
        .controller('demoCtrl',
            function ($scope,$http) {

                $scope.findPatient = function(name) {
                    var url = "http://snapp.clinfhir.com:8081/baseDstu3/Patient?name=hay";
                    $http.get(url).then(
                        function(data) {
                           
                            $scope.patients = data.data;
                            console.log($scope.patients)
                        }, function(err) {
                            alert(err.data)
                        }
                    )
                }
            })



</script>

<body padding="8px">

<div ng-app="demoApp" ng-controller="demoCtrl">

    <h4>Name </h4>

    <div class="row">
        <div class="col-xs-8">

            <input type="text" class="form-control" ng-model="input.name"/>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" ng-click="findPatient()">Find</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="list-group">
                <li ng-repeat="entry in patients.entry" class="list-group-item">
                    <div ng-repeat="name in entry.resource.name">
                        {{name.text}}
                    </div>

                </li>
            </div>

        </div>
    </div>



</div>


</body>
</html>