<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARCS Demo</title>
    <script src="js/libs/angular.min1-5.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="js/libs/moment.min.js"></script>

    <script>
        angular.module("demoApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("demoApp").constant("moment", moment);


    </script>

    <script src="js/arcsdemo.js"></script>

</head>
<style>

</style>



<body style="padding:8px;padding-bottom: 70px">




<div ng-app="demoApp" ng-controller="demoCtrl">

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <br/>
            <button class="btn btn-default" ng-click="showLog()">Log</button>
            <button class="btn btn-default" ng-click="searchPatient()">Find Patient</button>
            <button ng-show="patient"
                    class="btn btn-default" ng-click="state='summary'">Show Patient</button>

            <button ng-show="patient"
                    class="btn btn-default pull-right" ng-click="state='newar'">Add reaction</button>
        </div>
    </nav>

    <div ng-show="state=='search'">
        <h4>Name </h4>
        <br/>
        <div class="row">
            <div class="col-xs-8">

                <input type="text" class="form-control" ng-model="input.name"/>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ng-click="findPatient(input.name)">Find</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="list-group">
                    <li ng-repeat="entry in patients.entry" class="list-group-item">
                        <div ng-repeat="name in entry.resource.name">
                            <div ng-click="selectEntry(entry)">{{name.text}}</div>
                        </div>

                    </li>
                </div>

            </div>
        </div>

    </div>

    <div ng-show="state=='newar'">
        <div class="banner">Add new Adverse Event</div>
        <h4>Description</h4>
        <textarea class="form-control" ng-model="input.new.description"></textarea>
        <h4>When did it occur</h4>
        <input type="date" ng-model="input.new.date"/>

        <div ng-show="input.new.date && input.new.description">
            <button class="btn btn-danger pull-right" ng-click="saveAE()">Add</button>
        </div>

    </div>

    <div ng-show="state=='summary'">
        <div class="banner">
            Adverse reactions for
            <span ng-repeat="name in patient.name">
                <span>{{name.text}}</span>
            </span>
        </div>

        <div class="list-group">
            <li ng-repeat="entry in adverseEvents.entry" class="list-group-item">
                {{entry.resource.description}}
                <div><em>{{entry.resource.date}}</em></div>
            </li>
        </div>


    </div>

    <div ng-show="state=='showlog'">
        <div class="banner">Log of REST calls</div>
        <div class="list-group">
            <li ng-repeat="logEntry in log" class="list-group-item">
                {{logEntry.method}}:{{logEntry.url}}


            </li>
        </div>
    </div>

</div>


</body>
</html>