<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <style>
        .rounded-box-filled {
            border : 1px solid #eeeeee;
            padding : 5px;
            margin: 0px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color:#F6F6F6;
        }
    </style>

    <script>
        var app = angular.module("devChallenge", []);

        app.controller("devCtrl", function($scope,$http) {
            $scope.input = {};
            $scope.option = "";

            $scope.samples = [];

            $scope.servers = [];
            $scope.servers.push("http://conman.fhir.org:8080/baseDstu3/")
            $scope.servers.push("https://nzlfhirsrvt7ss7ccrrakte.azurewebsites.net/")
            $scope.serverRoot = "http://conman.fhir.org:8080/baseDstu3/";      //backup FHIR server


            $scope.getPatient = function(name) {
                var url = $scope.serverRoot + "Patient?name="+name;
                executeGet(url)
            };

            $scope.adHoc = function(url) {
                executeGet($scope.serverRoot + url)
            };

            $scope.getAE = function(id) {
                var url = $scope.serverRoot + "AdverseEvent/" + id;

                executeGet(url)
            };

            $scope.findAE = function(patientId,includeReferenced) {
                var url = $scope.serverRoot + "AdverseEvent?subject="+patientId;
                if (includeReferenced) {
                    url += "&_include=AdverseEvent:reaction&_include=AdverseEvent:substance";
                }
                executeGet(url)
            };

            $scope.updateAE = function(ae) {
                try {
                    var json = angular.fromJson(ae)
                    var id = json.id;
                    if (!id) {
                        alert("There must be an id property");
                        return;
                    }



                    var url = $scope.serverRoot + "AdverseEvent/"+id;
                    $scope.url = url;
                    $http.put(url,json).then(
                        function(data){
                            alert("The AdverseEvent: "+id + " has been updated.")
                        },
                        function(err) {
                            alert(angular.toJson(err.data))
                        }
                    )


                } catch(ex) {
                    alert("Invalid Json")
                }

            };

            $scope.selectOption = function(option) {
                $scope.option = option;
                delete $scope.result;
                delete $scope.error;
                delete $scope.url;
            };

            function executeGet(url) {
                $scope.url = url;

                $http.get(url).then(
                    function(data) {
                        $scope.result = data.data;
                    },
                    function(err) {
                        $scope.error = err;

                    }
                )
            }
        });

    </script>


</head>
<body style="padding: 8px; padding-top:80px">

<div ng-app="devChallenge" ng-controller="devCtrl">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5 col-sm-5">
                <span class="navbar-brand" href="#">
                    HL7 NZ Developer Challenge: Demo
                </span>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-2">
            <h3>Samples</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-click="selectOption('adHoc')">Ad Hoc query</li>
                <li class="list-group-item" ng-click="selectOption('findPatient')">Find Patient by Name</li>
                <li class="list-group-item" ng-click="selectOption('getAE')">Get Adverse events by Id</li>
                <li class="list-group-item" ng-click="selectOption('findAE')">Find Adverse events by Patient Id</li>
                <li class="list-group-item" ng-click="selectOption('putAE')">Update Adverse Event</li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1">
                    <h4>Server</h4>
                </div>
                <div class="col-md-4">
                    <select ng-options = "url for url in servers" class="form-control" ng-model="serverRoot"></select>
                </div>
            </div>

            <div ng-show="url">
                <div class="rounded-box-filled">{{url}}</div>
                <br/>
            </div>






            <div ng-show="option=='getAE'">
                <h4>Get AdverseEvent by Id</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <input class="form-control" placeholder="Enter the od" ng-model="input.id"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn btn-primary" ng-click = "getAE(input.id)">Get AdverseEvent</button>
                    </div>
                </div>
            </div>


            <div ng-show="option=='putAE'">
                <h4>Update (or create) an Adverse Event</h4>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <textarea class="form-control" ng-model="input.newAE" rows="20"></textarea>

                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-primary" ng-click="updateAE(input.newAE)">Save</button>
                    </div>
                </div>
            </div>

            <div ng-show="option=='findPatient'">
                <h4>Find patient by name</h4>
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <input class="form-control" placeholder="Name to search on" ng-model="input.name"/>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <button class="btn btn-primary" ng-click = "getPatient(input.name)">Get Patient</button>
                    </div>
                </div>
            </div>

            <div ng-show="option=='adHoc'">
                <h4>Ad Hoc query</h4>
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <input class="form-control" placeholder="Enter the query (without the base Url) eg Patient?name=hay" ng-model="input.adHoc"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn btn-primary" ng-click = "adHoc(input.adHoc)">Get Patient</button>
                    </div>
                </div>
            </div>

            <div ng-show="option=='findAE'">
                <h4>Find Adverse Events with a patient Id</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <input class="form-control" placeholder="Enter the patient id" ng-model="input.id"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        Include all references resources <input type="checkbox" ng-model="input.include">
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <button class="btn btn-primary" ng-click = "findAE(input.id,input.include)">Get Patient</button>
                    </div>
                </div>
            </div>

            <div ng-show="result">
                <h3>Result</h3>
                <pre>{{result | json}}</pre>
            </div>

            <div ng-show="error">
                <h3>error</h3>
                <pre>{{error | json}}</pre>
            </div>

        </div>
    </div>


</div>




</body>
</html>