<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectathon</title>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>


    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-sanitize.js"></script>


    <!-- http://jtblin.github.io/angular-chart.js/ -->
    <script src="js/libs/Chart.min.js"></script>
    <script src="js/libs/angular-chart.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngSanitize','ngStorage','chart.js']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(|blob|):/);
        }]);

        window.onerror = function(message, url, linenumber) {
            alert("An unexpected error occurred: " + message + " on line " + linenumber + " for " + url);
        }

    </script>

    <style>
        .pass {
            border : 1px solid #eeeeee;
            padding : 5px;
            display: inline-block;
            text-align : center;
            width: 50px;
            margin: 0px;
            /*margin-left : 10px;*/
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color:green;
            color:white;
        }
        .fail {
            border : 1px solid #eeeeee;
            padding : 5px;
            display: inline-block;
            text-align : center;
            width: 50px;
            margin: 0px;
            /*margin-left : 10px;*/
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color:red;
            color:white;

        }
        .partial {
            border : 1px solid #eeeeee;
            padding : 5px;
            display: inline-block;
            text-align : center;
            width: 50px;
            margin: 0px;
            /*margin-left : 10px;*/
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: #FFC200;
            color:white;

        }
    </style>


    <script src="js/ecosystemCtl.js"></script>
    <script src="js/ecosystemSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/addServerToScenarioCtrl.js"></script>
    <script src="js/addClientToScenarioCtrl.js"></script>
    <script src="js/resultCtrl.js"></script>
    <script src="js/downloadCtrl.js"></script>
    <script src="js/addClientCtrl.js"></script>
    <script src="js/addServerCtrl.js"></script>

</head>
<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="ecosystemCtrl" class="container-fluid">

    <div class="banner">clinFHIR Connectathon Mananger</div>

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <uib-tabset>

                <uib-tab heading="Track Scoring">
                    <br/>

                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <ul class="list-group">
                                <li ng-class="{'list-group-item':1,'listItemSelected':selectedTrack.id == track.id}" style="cursor: pointer"
                                    ng-repeat="track in tracks"
                                    ng-click="selectTrack(track)">
                                    {{track.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <p class="rounded-box">This is used when a scenario only uses 2 participants - a client and a server</p>
                            <div ng-repeat="scenario in selectedTrack.scenarios track by $index">

                                <div class="banner" style="height: 40px">{{scenario.name}}

                                <span class="pull-left">
                                    <button class="btn btn-link" ng-click="addClientToScenario(scenario)">Add Client</button>
                                </span>

                                <span class="pull-right">
                                    <button class="btn btn-link" ng-click="addServerToScenario(scenario)">Add Server</button>
                                </span>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">

                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <!--
                                                    <button class="btn btn-link" ng-click="addClientToScenario(scenario)">Add Client</button>
                                                    -->
                                                </td>
                                                <th ng-repeat="server in scenario.servers">
                                                    {{server.server.name}}
                                                    <div><em>({{server.role.name}})
                                                        <i class="clickable glyphicon glyphicon-remove-sign"
                                                           title="Remove server" ng-click="removeServerFromScenario(scenario,server)">
                                                        </i>

                                                    </em></div>
                                                </th>
                                            </tr>

                                            <tr ng-repeat="client in scenario.clients">
                                                <td><strong>
                                                    {{client.client.name}}
                                                    <div><em>({{client.role.name}})</em>
                                                        <i class="clickable glyphicon glyphicon-remove-sign"
                                                           title="Remove client" ng-click="removeClientFromScenario(scenario,client)">
                                                        </i>
                                                    </div>
                                                </strong>
                                                </td>
                                                <td ng-repeat="server in scenario.servers">
                                                    <a href="#" ng-click="addTestResult(selectedTrack,scenario,client,server)">
                                                        <span uib-popover={{showTestResultNote(scenario,client,server)}}
                                                              popover-placement="left"
                                                              popover-trigger="'mouseenter'">


                                                            <p ng-bind-html="showTestResult(scenario,client,server)"></p>

                                                            <!--
                                                            <span>
                                                                 {{showTestResult(scenario,client,server)}}
                                                            </span>
                                                           -->


                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--
                                    <div class="col-sm-2 col-md-2">

                                        <button class="btn btn-link" ng-click="addServerToScenario(scenario)">Add Server</button>

                                    </div>
                                    -->
                                </div>
                                <!--
                                <pre>{{scenario | json}}</pre>
-->

                            </div>

                        </div>

                    </div>

                </uib-tab>

                <uib-tab heading="Track Descriptions">
                    <br/>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <ul class="list-group">
                                <li ng-class="{'list-group-item':1,'listItemSelected':selectedTrack.id == track.id}" style="cursor: pointer"
                                    ng-repeat="track in tracks"
                                    ng-click="selectTrack(track)">
                                    {{track.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-10 col-md-10" ng-show="selectedTrack">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">

                                    <strong>Description</strong>
                                </div>
                                <div class="col-sm-9 col-md-9">
                                    <p ng-bind-html="selectedTrack.description"></p>
                                    <!--{{selectedTrack.description}}-->
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <strong>Track Leads</strong>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <ul class="list-unstyled">
                                        <li ng-repeat="lead in selectedTrack.leads">
                                            {{lead.name}}
                                            <div style="margin-left: 20px" ng-repeat="contact in lead.contact">
                                                {{contact.type}}: {{contact.value}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <strong>Wiki Page</strong>
                                </div>
                                <div class="col-sm-9 col-md-9">
                                    <a target="_blank" ng-href="{{selectedTrack.url}}">{{selectedTrack.url}}</a>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <strong>Roles</strong>
                                </div>
                                <div class="col-sm-10 col-md-10">

                                    <div class="row">
                                        <div class="col-sm-4 col-md-4">
                                            <ul class="list-group">
                                                <li ng-class="{'list-group-item':1,'listItemSelected':selectedRole.id == role.id}"
                                                    style="cursor: pointer"
                                                    ng-repeat="role in selectedTrack.roles track by $index"
                                                    ng-click="selectRole(role)">
                                                    {{role.name}}
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="col-sm-8 col-md-8">
                                            <p ng-bind-html="selectedRole.description"></p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <strong>Scenarios</strong>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <div class="row">

                                        <div class="col-sm-4 col-md-4">
                                            <ul class="list-group">
                                                <li ng-class="{'list-group-item':1,'listItemSelected':selectedScenario.id == scenario.id}"
                                                    style="cursor: pointer"
                                                    ng-repeat="scenario in selectedTrack.scenarios track by $index"
                                                    ng-click="selectScenario(scenario)">
                                                    {{scenario.name}}
                                                </li>
                                            </ul>

                                        </div>


                                        <div class="col-sm-8 col-md-8" ng-show="selectedScenario">
                                            <p ng-bind-html="scenario.description"></p>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Action
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    {{selectedScenario.action}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Precondition
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    {{selectedScenario.precondition}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Steps
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    <ol>
                                                        <li ng-repeat="step in selectedScenario.steps">
                                                            {{step}}
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Success
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    {{selectedScenario.success}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Bonus
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    <ul class="list-unstyled">
                                                        <li ng-repeat="bonus in selectedScenario.bonus">
                                                            {{bonus}}
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Servers
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    <ul>
                                                        <li ng-repeat="server in selectedScenario.servers">
                                                            {{server.ip}}
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-link" ng-click="addServerToScenario(selectedScenario)">Add Server</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-3">
                                                    Clients
                                                </div>
                                                <div class="col-sm-9 col-md-9">

                                                    <ul>
                                                        <li ng-repeat="client in selectedScenario.clients">
                                                            {{client.name}}
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-link" ng-click="addClientToScenario(selectedScenario)">Add Client</button>

                                                </div>
                                            </div>

                                        </div>


                                    </div>



                                </div>
                            </div>








                        </div>
                    </div>

                </uib-tab>

                <uib-tab heading="People">
                    <br/>
                    <div>
                        <button class="btn btn-link pull-right" ng-click="editPerson()">New Person</button>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <table class="table table-bordered">
                                <tr><th>Name</th><th>Organization</th><th>Contacts</th><th></th></tr>
                                <tr ng-repeat="person in allPersons">
                                    <td><button class="btn btn-link" ng-click="selectPerson(person)">{{person.name}}</button> </td>
                                    <td>{{person.organization}}</td>
                                    <td>
                                        <div ng-repeat="contact in person.contact">
                                            {{contact.type}}: {{contact.value}}
                                        </div>
                                    </td>
                                    <td><button class="btn btn-link" ng-click="editPerson(person)">Edit</button> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6 col-md-6" ng-show="personSummary">

                            <h4>Clients</h4>
                            <div ng-show="personSummary.clients.length == 0">No clients for this user.</div>
                            <table class="table table-bordered" ng-show="personSummary.clients.length > 0">
                                <tr><th>Name</th><th>Description</th></tr>
                                <tr ng-repeat = "client in personSummary.clients">
                                    <td>{{client.name}}</td>
                                    <td>{{client.description}}</td>
                                </tr>
                            </table>

                            <h4>Servers</h4>
                            <div ng-show="personSummary.servers.length == 0">No servers for this user.</div>
                            <table class="table table-bordered" ng-show="personSummary.servers.length > 0">
                                <tr><th>Name</th><th>Description</th></tr>
                                <tr ng-repeat = "server in personSummary.servers">
                                    <td>{{server.name}}</td>
                                    <td>{{server.description}}</td>
                                </tr>
                            </table>

                            <h4>Scenarios registered for (as Client or Server)</h4>
                            <div ng-show="personSummary.scenarios.length == 0">None yet.</div>
                            <table class="table table-bordered" ng-show="personSummary.scenarios.length > 0">
                                <tr><th>Track</th><th>Scenario</th><th>Client/Server</th><th>App (Role)</th></tr>
                                <tr ng-repeat = "scenario in personSummary.scenarios">
                                    <td>{{scenario.track.name}}</td>
                                    <td>{{scenario.scenario.name}}</td>
                                    <td>{{scenario.systemRole}}</td>

                                    <td>
                                        {{scenario.clientRole.client.name}} ({{scenario.clientRole.role.name}})
                                    </td>
                                    <td></td>

                                </tr>
                            </table>



                            <h4>Asserted results</h4>
                            <div ng-show="personSummary.results.length == 0">None yet.</div>
                            <table class="table table-bordered" ng-show="personSummary.results.length > 0">
                                <tr><th>Track</th></th><th>Scenario</th><th>Client</th><th>Server</th><th>Result</th><th>Note</th></tr>
                                <tr ng-repeat = "result in personSummary.results">
                                    <td>{{result.track.name}}</td>
                                    <td>{{result.scenario.name}}</td>
                                    <td>{{result.client.client.name}} ({{result.client.role.name}})</td>
                                    <td>{{result.server.server.name}} ({{result.server.role.name}})</td>
                                    <td>{{result.text}}</td>
                                    <td>{{result.note}}</td>
                                </tr>
                            </table>

<!--
                            <pre>{{personSummary | json}}</pre>
                            -->
                        </div>
                    </div>




                </uib-tab>

                <uib-tab heading="Clients">
                    <br/>
                    <div>
                        <button class="btn btn-link pull-right" ng-click="addNewClient()">New Client</button>
                    </div>
                    <table class="table table-bordered">
                        <tr><th>Name</th><th>Description</th><th>Contacts</th><th>Scenarios</th></tr>
                        <tr ng-repeat="clnt in allClients">
                            <td>{{clnt.name}}</td>
                            <td>{{clnt.description}}</td>
                            <td>
                                <div ng-repeat = "person in clnt.contact">
                                    {{person.name}}
                                    <span ng-repeat="contact in person.contact">
                                        {{contact.type}}: {{contact.value}}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="scenarioName in getScenariosForClient(clnt)">
                                    {{scenarioName }}
                                </div>
                            </td>
                        </tr>
                    </table>


                </uib-tab>

                <uib-tab heading="Servers">
                    <br/>
                    <div>
                        <button class="btn btn-link pull-right" ng-click="addNewServer()">New Server</button>
                    </div>
                    <table class="table table-bordered">
                        <tr><th>Name</th><th>Description</th><th>Contacts</th><th>Track / Scenario / Role</th></tr>
                        <tr ng-repeat="svr in allServers">
                            <td>{{svr.name}}</td>
                            <td>{{svr.address}}</td>
                            <td>
                                <div ng-repeat = "person in svr.contact">
                                    {{person.name}}
                                    <span ng-repeat="contact in person.contact">
                                        {{contact.type}}: {{contact.value}}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="scenarioName in getScenariosForServer(svr) track by $index">
                                    {{scenarioName }}
                                </div>
                            </td>
                        </tr>
                    </table>

                </uib-tab>

                <uib-tab heading="Results">
                    <br/>

                    <uib-tabset>
                        <uib-tab heading="Summary">
                            <br/>
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <ul class="list-group">
                                        <li ng-class="{'list-group-item':1,'listItemSelected':selectedTrackSummary.id == track.id}" style="cursor: pointer"
                                            ng-repeat="track in tracks"
                                            ng-click="selectTrackResults(track)">
                                            {{track.name}}

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <uib-tabset>
                                        <uib-tab heading="By Scenario">
                                            <div class="row">

                                                <div class="col-md-4 col-sm-4">
                                                    <ul class="list-group">
                                                        <li ng-class="{'list-group-item':1,'listItemSelected':selectedScenarioSummary.id == scenario.id}" style="cursor: pointer"
                                                            ng-repeat="scenario in selectedTrackSummary.scenarios"
                                                            ng-click="selectScenarioResults(scenario)">
                                                            {{scenario.name}}
                                                            <span class="pull-right" ng-show="resultsSummary.scenario[scenario.name].total > 0">
                                                                <span class=" badge">
                                                                    {{resultsSummary.scenario[scenario.name].total}}
                                                                </span>

                                                                <span class=" badge">

                                                                    {{resultsSummary.scenario[scenario.name].pass}} /
                                                                    {{resultsSummary.scenario[scenario.name].fail}} /
                                                                    {{resultsSummary.scenario[scenario.name].partial}}
                                                                </span>
                                                            </span>



                                                        </li>
                                                    </ul>



                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <canvas id="pie" class="chart chart-pie"
                                                            chart-data="chartData" chart-labels="chartLabels" chart-options="chartOptions" chart-colors="chartColors">
                                                    </canvas>
                                                </div>

                                            </div>
                                        </uib-tab>
                                        <uib-tab heading="Totals">

                                        </uib-tab>
                                    </uib-tabset>
                                </div>




                            </div>


                        </uib-tab>

                        <uib-tab heading="Details">
                            <br/>


                            <button class="btn btn-link pull-right" ng-click="download('results')">Download results</button>

                            <table class="table table-bordered">
                                <tr>
                                    <th>Track</th><th>Scenario</th><th>Participants</th><th>Result</th><th>Asserter</th><th>Note</th><th>Key</th>
                                </tr>
                                <tr ng-repeat="(key,result) in ecosystemSvc.getAllResults()">

                                    <td>{{result.track.name}}</td>
                                    <td>{{result.scenario.name}}</td>
                                    <td>
                                        <div ng-repeat="part in result.participants">
                                            {{part.systemRole}}:  {{part.participant.name}} ({{part.role.name}})

                                        </div>
                                    </td>
                                    <td>{{result.text}}</td>
                                    <td>{{result.asserter.name}}</td>
                                    <td>{{result.note}}</td>
                                    <td>{{key}}</td>

                                </tr>
                            </table>


                        </uib-tab>
                    </uib-tabset>
<!--
                    <pre>{{ecosystemSvc.getAllResults() | json}}</pre>

-->
                </uib-tab>
<!--
                <uib-tab heading="List">
                    <br/>
                    <select ng-model="input.filterRole" ng-change="setFilter()"
                            ng-options = "concept.display for concept in csAllRoles.concept"></select>

                    <table class="table table-bordered">
                        <tr><th>Name</th><th>Description</th><th>Role</th><th>Url</th><th>Auth Svr.</th><th>Notes</th><th>Tags</th></tr>
                        <tr ng-repeat="ep in endpoints" ng-show="canShow(ep)">
                            <td>{{ep.name}}</td>
                            <td>{{ep.description}}</td>
                            <td>{{ep.role}}</td>
                            <td>{{ep.url}}</td>
                            <td>{{ep.authz}}</td>
                            <td>
                                <div ng-repeat="note in ep.notes">
                                    {{note.text}}
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="tag in ep.tags">
                                    {{tag}}
                                </div>
                                <a class='pull-right' href="#" ng-click="addTag(ep)">Add</a>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab heading="Graph">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">

                        </div>
                        <div class="col-sm-4 col-md-4">

                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="json">
                    <pre>{{endpoints | json}}</pre>
                </uib-tab>

                -->
            </uib-tabset>

        </div>


    </div>

<!--
    <div><a class="btn btn-warning" ng-href="/auth?page=orion.html">Login as Clinician</a></div>
    <div><a class="btn btn-success" ng-href="/auth?page=patient.html">Login as Patient</a></div>

    <div class="row">
        <div class="col-sm-3 col-md-3">

        </div>
        <div class="col-sm-6 col-md-6">

        </div>
    </div>
-->


</div>

</body>
</html>