<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDS Hooks client</title>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="js/libs/angular-sanitize.js"></script>


    <script>
        angular.module("sampleApp",['ui.bootstrap','ngSanitize']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
       // angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/hooksCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/hooksFindPersonCtrl.js"></script>
    <script src="js/filters.js"></script>


</head>
<body style="padding: 8px;padding-top: 80px" >



<div ng-app="sampleApp" ng-controller="hooksCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" ng-style="navBarStyle" role="navigation">

        <div class="container-fluid row">
            <div class="col-md-6 col-sm-6">
                <a class="navbar-brand" href="#">

                    CDS-hooks, generic client
                </a>
            </div>

            <div class="col-md-3 col-sm-3">

            </div>

            <div class="col-md-2 col-sm-2">

            </div>
            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/>
                </div>

            </div>



        </div>
    </nav>


    <div class="row">
        <div class="col-sm-2 col-md-2">
            <h4>CDS Hooks servers</h4>
            <ul class="list-group">
                <li ng-class="{'list-group-item':1,'listItemSelected':svr.id ==selectedServer.id }" ng-repeat="svr in lstServers"
                    ng-click="selectServer(svr)"
                    style="cursor: pointer">
                    {{svr.name}}
                </li>
            </ul>

        </div>
        <div class="col-sm-2 col-md-2">
            <div ng-show="selectedServer">
                <h4>Individual hooks</h4>
                <ul class="list-group">
                    <li ng-class="{'list-group-item':1,'listItemSelected':hook.id ==selectedHook.id }"
                        ng-repeat="hook in selectedServer.allHooks.services"
                        ng-click="selectHook(hook)"
                        style="cursor: pointer">
                        {{hook.name}}
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4 col-md-4">
            <div ng-show="selectedHook">
                <h4>Hook definition</h4>
                <pre>{{selectedHook | json}}</pre>

                <button ng-show = "selectedHook" class="btn btn-primary" ng-click="invoke()">Invoke Service</button>

            </div>

        </div>

        <div class="col-sm-4 col-md-4">
            <h4>Client properties</h4>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    Data Server Url
                </div>
                <div class="col-sm-8 col-md-8">
                    <select ng-model="input.newDataServer" class="form-control"
                            ng-change="selectDataServer(input.newDataServer)"
                        ng-options="svr.name for svr in allServers"></select>

                    <input class="form-control" disabled="disabled" ng-model="dataServer"/>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-4 col-md-4">
                    Patient Id
                </div>
                <div class="col-sm-4 col-md-4">
                    <input class="form-control" ng-model="input.patientid"/>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="btn btn-link" ng-click="selectPatient()">Find Patient</button>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    Practitioner Id
                </div>
                <div class="col-sm-4 col-md-4">
                    <input class="form-control" ng-model="input.practitionerid"/>
                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="btn btn-link" ng-click="selectPractitioner()">Find Practitioner</button>
                </div>
            </div>
        </div>

    </div>


    <hr/>


    <div class="row" ng-show="request">
          <div><strong>Url: </strong>{{url}}</div>
        <div class="col-md-6 col-sm-6">
            <pre>{{request | json}}</pre>
        </div>
        <div class="col-md-6 col-sm-6">

            <p ng-bind-html="errorMsg"></p>



            <pre>{{response | json}}</pre>

        </div>
    </div>




</div>

</body>
</html>