<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Json Creation</title>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);
    </script>

    <script src="js/modalDialogSvc.js"></script>
    <script src="js/ecosystemSvc.js"></script>
    <script src="js/jsonTestCtrl.js"></script>

    <script src="js/ecoUtilitiesSvc.js"></script>


</head>
<body style="padding: 8px" >



<div ng-app="sampleApp" ng-controller="jsonTestCtrl" class="container-fluid">

    <div class="banner">Test Json Creation
        <span class="pull-right clickable" ng-click="toggleSize()">Toggle display</span>
    </div>

    <div class="row">
        <div ng-class="col1Class">
            <h5>Scenarios</h5>
            <ul class="list-group">
                <li ng-class="{'list-group-item':true,'listItemSelected':selectedGraph.id == graph.id}" ng-repeat = "graph in graphs" ng-click="selectGraph(graph)">
                    {{graph.scenario.name}}
                </li>

            </ul>

        </div>
        <div class="col-sm-2 col-md-2">
            <h5>Graphs</h5>
            <ul class="list-group">
                <li  ng-class="{'list-group-item':true,'listItemSelected':selectedItem.id == item.id}"
                     ng-repeat="item in selectedGraph.items" ng-click="selectItem(item)">
                    {{item.baseType}}
                    <div class="pull-right">{{item.category}}</div>
                    <div>{{item.description}}</div>
                </li>
            </ul>

        </div>
        <div ng-class="col3Class">
            <h5>Data</h5>
            <table class="table table-bordered">
                <tr ng-repeat="element in elements">
                    <td>{{element.path}}</td>
                    <td><pre>{{element.structuredData | json}}</pre></td>
                </tr>

            </table>

        </div>
        <div ng-class="col4Class">
            <h5>Json</h5>
            <button class="btn btn-primary" ng-click="makeJson()">Refresh Json</button>
            <pre>{{json | json}}</pre>

        </div>
    </div>




</div>

</body>
</html>