<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)  -- ,'ngStorage'
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>


    <script src="js/smartQueryCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>


    <script src="js/filters.js"></script>

    <script src="js/libs/vis.min.js"></script>



    <style>
        #resourceGraph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

        .risk-low {
            background-color: #00A000;
            color: white;
         }
        .risk-med {
            background-color: orange;
            color: white;
        }
        .risk-high {
            background-color: red;
            color: white;
        }

</style>
        <title>SMART query</title>

</head>


<body style="padding-top: 80px">

<div ng-app="sampleApp" ng-controller="smartQueryCtrl" class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3 col-sm-3">
                <span class="navbar-brand" href="#">
                   clinFHIR SMART Tester: Query patient
                </span>
            </div>

            <div class="col-md-4 col-sm-4">

            </div>





            <div class="col-md-1 col-sm-1">

                <form class="navbar-form navbar-left">
                    <img ng-show="waiting" src="css/ajax_loader_blue_32.gif"/>
                </form>

            </div>

            <div class="col-md-2 col-sm-2">

            </div>


            <div class="col-md-2 col-sm-2">

            </div>
        </div>
    </nav>
    <h3>Successful login.  User: {{idToken.payload.sub}}</h3>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <strong>Scopes granted</strong>
            <div>{{scope}}</div>
        </div>
        <div class="col-sm-4 col-md-4">
            <strong>Context</strong>
            <table>
                <tr>
                    <td>Role</td>
                    <td>{{config.context.role.display}}</td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>{{config.context.purpose.display}}</td>
                </tr>
                <tr>
                    <td>Organization</td>
                    <td>{{config.context.org.display}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-md-4">
            <strong>Patient</strong>
            <div>
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        Id:
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" ng-model="input.patientId"/>
                    </div>
                </div>
<!--
                {{sqResults.Patient.id}}
                -->

            </div>
            <div>Name: <span ng-repeat="given in sqResults.Patient.name[0].given">{{given}} </span> {{sqResults.Patient.name[0].family}}</div>

        </div>

    </div>
    <br/>

    <uib-tabset>
        <uib-tab heading="Standard Queries" ng-show="config.defaultQueries">
            <br/>

            <div>{{config.defaultQueriesDisplay}}</div>
            <br/>
            <!--
            <button ng-hide="sqComplete" class="btn btn-primary" ng-click="standardQueries('A01')">Execute</button>-->
            <button ng-hide="sqComplete" class="btn btn-primary" ng-click="standardQueries(input.patientId)">Execute</button>

            <div ng-show="execSQ">Executing Standard Queries, please wait...</div>

            <div class="row" ng-show="sqComplete">
                <div class="col-sm-2 col-md-2">
                    <ul class="list-group">
                        <li ng-repeat="qry in config.defaultQueries" class="list-group-item"
                            style="cursor:pointer"
                            ng-click = "selectQueryResult(qry)">
                            {{qry.display}}

                        </li>
                    </ul>

                </div>
                <div class="col-sm-10 col-md-10">
                    <uib-tabset>

                        <uib-tab heading="Formatted">
                            <uib-tab-heading>
                                {{selectedResultsDisplay}} <span class="badge">{{selectedResults.entry.length}}</span>
                            </uib-tab-heading>

                            <div ng-show="selectedResultsDisplay=='Patient'">
                                <pre>{{sqResults.Patient | json}}</pre>

                            </div>

                            <table ng-show="selectedResultsDisplay=='Conditions'" class="table">
                                <tr><th>Name</th><th>Source</th><th>Onset</th><th>Clinical Status</th><th>Verification Status</th></tr>
                                <tr ng-repeat = "entry in selectedResults.entry">
                                    <td width="25%">{{entry.resource.code.text}}
                                        </td>
                                    <td>{{entry.resource.meta.tag[0].display}}</td>
                                    <td>{{entry.resource.onsetDateTime}}</td>
                                    <td>{{entry.resource.clinicalStatus}}</td>
                                    <td>{{entry.resource.verificationStatus}}</td>
                                </tr>
                            </table>

                            <table ng-show="selectedResultsDisplay=='Procedures'" class="table">
                                <tr><th>Name</th><th>Source</th><th>Performed</th></tr>
                                <tr ng-repeat = "entry in selectedResults.entry">
                                    <td width="25%">{{entry.resource.code.text}}
                                    </td>
                                    <td>{{entry.resource.meta.tag[0].display}}</td>
                                    <td>{{entry.resource.performedDateTime}}</td>


                                </tr>
                            </table>

                            <table ng-show="selectedResultsDisplay=='Medications'" class="table">
                                <tr><th>Name</th><th>Source</th><th>Route</th><th>Quantity</th></tr>
                                <tr ng-repeat = "entry in selectedResults.entry">
                                    <td width="25%">{{entry.resource.medicationReference.display}}
                                        {{entry.resource.medicationCodeableConcept.text}}
                                    </td>
                                    <td>{{entry.resource.meta.tag[0].display}}</td>
                                    <td><div ng-repeat="dose in entry.resource.dosage">
                                        {{dose.route.coding[0].display}}
                                    </div></td>
                                    <td><div ng-repeat="dose in entry.resource.dosage">
                                        {{dose.doseQuantity.value}}
                                    </div></td>


                                </tr>
                            </table>


                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{selectedResults | json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>



        </uib-tab>
        <uib-tab heading="Ad-hoc Query">
            <br/>

            <div class="row">
                <div class="col-sm-1 col-md-1">
                    Query
                </div>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" ng-model="input.query"/>
                </div>
                <div class="col-sm-1 col-md-1">
                    <button ng-disabled="waiting" class="btn btn-primary" ng-click="executeQuery(input.query)">Execute</button>
                </div>
            </div>

            <pre ng-show="resultsBundle">{{resultsBundle | json}}</pre>
        </uib-tab>

        <uib-tab heading="Supported resources">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="resource in capStmt.rest[0].resource"
                            ng-click="input.selectedMetaDataResource = resource">
                            {{resource.type}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 col-sm-10">
                    <pre>{{input.selectedMetaDataResource | json}}</pre>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Tokens" ng-show="idToken || fullToken">
            <h4>Auth token</h4>
            <input class="form-control" ng-model="fullToken['access_token']"/>
            <h4>Server response to request for Auth Token</h4>
            <pre>{{fullToken | json}}</pre>
            <h4>Id Token</h4>
            <pre>{{idToken | json}}</pre>
        </uib-tab>
        <uib-tab heading="Capability Statement Json">
            <pre>{{capStmt | json}}</pre>
        </uib-tab>
    </uib-tabset>





</div>


</body>
</html>