<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Add new Client</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" ng-model="input.name"
                       ng-blur = "checkName()"
                       placeholder="Enter the client name. Keep it short"/>
            </div>

            <div class="col-md-6 col-sm-6">
               <textarea class="form-control" placeholder="An optional description of the client" ng-model = "input.description"></textarea>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2 col-sm-2">
                Contact
            </div>
            <div class="col-md-5 col-sm-5">
                <input type="text" ng-model="contact"
                       typeahead-on-select = "contactSelected($item, $model, $label, $event)"
                       uib-typeahead="person.name for person in allPersons | filter:{name:$viewValue} | limitTo:8" class="form-control">

            </div>
        </div>
        <br/>


        <div class="row">
            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6">
                <button ng-show="input.name && contact && canAdd" class="btn btn-primary pull-right" ng-click="addClient()">{{saveText}}</button>
            </div>
        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>Add the details (name and description) for a new client. After this the client can be added to any number of scenarios.</em>

            </div>

        </div>
    </div>
</div>