<div>

    <style>
        .myScroll {
            height: 350px;
            overflow-y: scroll;
        }
    </style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">{{saveText}}</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="Description">
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <input type="text" class="form-control" ng-model="input.name"
                               ng-blur = "checkName()"
                               placeholder="Enter the server name. Keep it short"/>
                    </div>

                    <div class="col-md-8 col-sm-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <span class="pull-right">Contact Person</span>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" ng-model="input.contact"
                                       typeahead-on-select = "contactSelected($item, $model, $label, $event)"

                                       typeahead-editable = 'false'
                                       uib-typeahead="person.name for person in allPersons | filter:{name:$viewValue} | limitTo:8" class="form-control"/>
                                <div><em>Contact person is required, and must be a selection from the users from the people tab</em></div>

                            </div>
                        </div>


                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control" ng-model="input.address" placeholder="Enter the Url to the server FHIR root"/>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-link" ng-show="input.name"
                                ng-click="checkServerExists()">Check CapabilityStatement</button>
                        <div class="pull-right" ng-show="waiting">
                            <img src="css/ajax_loader_blue_32.gif"/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control" ng-model="input.UIaddress" placeholder="The Url of any User Interface the server exposes"/>
                    </div>

                    <div class="col-md-4 col-sm-4">

                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        FHIR version
                    </div>
                    <div class="col-md-5 col-sm-5">
                       <input disabled="disabled" ng-model="fhirVersion"/>
                    </div>
                </div>
                <br/>



                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="3" placeholder="An optional description of the server" ng-model = "input.description"></textarea>

                    </div>
                </div>

                <br/>


            </uib-tab>

            <uib-tab heading="Server Capability" ng-show="CS">
                <br/>
                <uib-tabset>
                    <uib-tab heading="Types">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <br/>
                                <div class="myScroll">

                                    <ul class="list-group">
                                        <li ng-class="{'list-group-item':true, listItemSelected:selectedResourceDef == type}" ng-repeat="type in serverDetails.types"
                                            ng-click="selectResourceDef(type)" style="cursor: pointer">
                                            <bold>{{type.type}}</bold>
                                            <span class="pull-right">{{type.cap}}</span>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <div class="myScroll">
                                    <pre>{{selectedResourceDef.resource | json}}</pre>
                                </div>

                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="Json">

                            <pre class="myScroll">{{CS | json}}</pre>

                    </uib-tab>

                </uib-tabset>





            </uib-tab>

            <uib-tab>
                <uib-tab-heading>
                    Ecosystem roles
                    <span class="badge" ng-show="input.serverRoleCount > 0">{{input.serverRoleCount}}</span>
                </uib-tab-heading>
                <br/>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div ng-repeat="serverRole in eventConfig.serverRoles">
                            <span  uib-popover={{serverRole.definition}}
                                   popover-placement="top"
                                   popover-trigger="'mouseenter'">
                                <input type="checkbox" model="input.serverRole[serverRole.code]"
                                       ng-checked = "input.serverRole[serverRole.code]"
                                       ng-click = "input.serverRole[serverRole.code] = ! input.serverRole[serverRole.code]"

                                /> {{serverRole.display}}
                            </span>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <em>
                            <p>Allows you to specify what 'ecosystem' roles your server might play (as opposed to the more
                                specific roles within a track scenario). Mouse-over the
                                roles to get a short explanation.</p>
                            <p>Optional, and can safely be ignored...</p>
                        </em>

                    </div>
                </div>




            </uib-tab>

            <uib-tab ng-show="input.address">
                <uib-tab-heading>
                    CDS-Hooks
                    <span class="badge" ng-show="allHooks.services.length > 0">{{allHooks.services.length}}</span>
                </uib-tab-heading>
                <br/>


                <table class="table table-bordered">
                    <!--
                    <tr><th>Id</th><th>Name</th><th>Hook</th><th>Description</th></tr>
                    -->
                    <tr ng-repeat="hook in allHooks.services">
                        <td>
                            <pre>{{hook | json}}</pre>
                        </td>
                        <!--
                        <td>{{hook.id}}</td>
                        <td>{{hook.name}}</td>
                        <td>{{hook.hook}}</td>
                        <td>{{hook.description}}</td>
                        <td>
                            <pre>{{hook | json}}</pre>
                        </td>
-->
                    </tr>
                </table>
                <button class="btn btn-link" ng-click="loadHooks()">Check for hooks</button>
            </uib-tab>



            <uib-tab>
                <uib-tab-heading>
                    Security
                    <span class="badge" ng-show="SMART">SM</span>
                </uib-tab-heading>
                <br/>

                <pre>{{SMART | json}}</pre>
            </uib-tab>

        </uib-tabset>


        <div class="row">
            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6">
                <button ng-show="input.name"
                        class="btn btn-primary pull-right" ng-click="addServer()">{{saveText}}</button>
            </div>
        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em ng-show="input.address">
                    <div ng-hide="CS">
                        Click the 'Check CapabilityStetement link to read the Servers CapabilityStatement. After this,
                        server capabilities will be displayed in a separate tab.
                    </div>

                </em>


                <em ng-hide="editingServer">Add the details (name and description) for a new server. After this the server can be added to any
                    number of scenarios. <span style="color:red">The server name and Contact Person are required.</span></em>

                <em ng-show="editingServer"><div class="pull-right">{{serverId}}</div> </em>
            </div>

        </div>
    </div>
</div>