<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">{{saveText}}</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="Description">
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" ng-model="input.name"
                               ng-blur = "checkName()"
                               placeholder="Enter the server name. Keep it short"/>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <textarea class="form-control" placeholder="An optional description of the server" ng-model = "input.description"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control" ng-model="input.address" placeholder="Enter the Url to the server FHIR root"/>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-link" ng-click="checkServerExists()">Check CapabilityStatement</button>
                        <div class="pull-right" ng-show="waiting">
                            <img src="css/ajax_loader_blue_32.gif"/>
                        </div>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Contact
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <input type="text" ng-model="input.contact"
                               typeahead-on-select = "contactSelected($item, $model, $label, $event)"
                               uib-typeahead="person.name for person in allPersons | filter:{name:$viewValue} | limitTo:8" class="form-control"/>
                        <div><em>Contact is required, and must be one of the users from the people tab</em></div>

                    </div>
                </div>
                <br/>


            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Ecosystem roles
                    <span class="badge" ng-show="input.serverRoleCount > 0">{{input.serverRoleCount}}</span>
                </uib-tab-heading>
                <br/>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div ng-repeat="serverRole in eventConfig.serverRoles">
                            <span  uib-popover={{serverRole.definition}}
                                   popover-placement="top"
                                   popover-trigger="'mouseenter'">
                                <input type="checkbox" model="input.serverRole[serverRole.code]"
                                       ng-checked = "input.serverRole[serverRole.code]"
                                       ng-click = "input.serverRole[serverRole.code] = ! input.serverRole[serverRole.code]"

                                /> {{serverRole.display}}
                            </span>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <em>
                            <p>Allows you to specify what 'ecosystem' roles your server might play (as opposed to the more
                                specific roles within a track scenario). Mouse-over the
                                roles to get a short explanation.</p>
                            <p>Optional, and can safely be ignored...</p>
                        </em>

                    </div>
                </div>




            </uib-tab>

            <uib-tab ng-show="input.address">
                <uib-tab-heading>
                    CDS-Hooks
                    <span class="badge" ng-show="allHooks.services.length > 0">{{allHooks.services.length}}</span>
                </uib-tab-heading>
                <br/>


                <table class="table table-bordered">
                    <!--
                    <tr><th>Id</th><th>Name</th><th>Hook</th><th>Description</th></tr>
                    -->
                    <tr ng-repeat="hook in allHooks.services">
                        <td>
                            <pre>{{hook | json}}</pre>
                        </td>
                        <!--
                        <td>{{hook.id}}</td>
                        <td>{{hook.name}}</td>
                        <td>{{hook.hook}}</td>
                        <td>{{hook.description}}</td>
                        <td>
                            <pre>{{hook | json}}</pre>
                        </td>
-->
                    </tr>
                </table>
                <button class="btn btn-link" ng-click="loadHooks()">Check for hooks</button>
            </uib-tab>



            <uib-tab>
                <uib-tab-heading>
                    Security
                    <span class="badge" ng-show="SMART">SM</span>
                </uib-tab-heading>
                <br/>

                <pre>{{SMART | json}}</pre>
            </uib-tab>

        </uib-tabset>


        <div class="row">
            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6">
                <button ng-show="input.name && selectedPerson"
                        class="btn btn-primary pull-right" ng-click="addServer()">{{saveText}}</button>
            </div>
        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>Add the details (name and description) for a new server. After this the server can be added to any
                    number of scenarios. All items are required.</em>

            </div>

        </div>
    </div>
</div>