<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Edit Track</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button ng-show="canSave"
                            class="btn btn-primary pull-right" ng-click="save()">Save</button>
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-2 col-sm-2">
                Name
            </div>
            <div class="col-md-10 col-sm-10">
                <input class="form-control" ng-model="track.name"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2 col-sm-2">
                Track Lead
            </div>
            <div class="col-md-4 col-sm-4">
                <input type="text" ng-model="input.trackLead"
                       typeahead-on-select = "personSelected($item, $model, $label, $event)"
                       typeahead-editable = 'false'
                       uib-typeahead="person.name for person in allPersons | filter:{name:$viewValue} | limitTo:8" class="form-control"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-sm-2 col-md-2">
                Details Page
            </div>
            <div class="col-sm-10 col-md-10">
                <input class="form-control" ng-model="track.url" placeholder="Full url (including http://.. to the link">
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-2 col-md-2">
                Track type
            </div>
            <div class="col-sm-10 col-md-10">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="track.trackType" uib-btn-radio="'technical'">Technical</label>
                    <label class="btn btn-primary" ng-model="track.trackType" uib-btn-radio="'lmreview'">Logical Model Review</label>
                    <label class="btn btn-primary" ng-model="track.trackType" uib-btn-radio="'scenario'">Scenario</label>

                </div>
                <div>{{trackTypes[track.trackType]}}</div>
            </div>

        </div>
        <br/>

        <div class="row" ng-show="track.trackType == 'scenario'">
            <div class="col-sm-2 col-md-2">
                Allow direct sample
            </div>
            <div class="col-sm-1 col-md-1">
                <checkbox ng-model="track.allowDirectSample"/>
            </div>
            <div class="col-sm-9 col-md-9">
               <p>If true, then allows a user to enter text directly into the 'sample data' input box for each element (as
                   opposed to needing to select a FHIR datype). This does prevent a Resource instance from being created, but
                   does allow for a quicker review if this level of detail is not needed.
               </p>
            </div>
        </div>
        <br/>

        <uib-tabset>
            <uib-tab heading="Description">
                <br/>
                <form name="form">
                    <markdown-editor ng-model="track.description"
                                     rows="5"
                                     placeholder="Enter the description of this track"
                                     options="mdOptions" >
                    </markdown-editor>
                </form>

            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Links <span class="badge">{{track.links.length}}</span>
                </uib-tab-heading>
                <br/>


                <div class="row"  ng-repeat="link in track.links">
                    <div class="col-md-5 col-sm-5">
                        {{link.description}}

                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{link.url}}

                    </div>
                    <div class="col-md-1 col-sm-1">
                        <i class="clickable glyphicon glyphicon-remove-sign pull-right"
                           ng-click="removeLink($index)">
                        </i>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10 col-md-10">
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <i class="clickable glyphicon glyphicon-plus-sign pull-right"
                           title="Add link" ng-click="addLink(input.link)">
                        </i>
                    </div>
                </div>


            </uib-tab>
            <uib-tab ng-show="track.trackType == 'technical'">
                <uib-tab-heading>
                    EndPoints <span class="badge">{{track.endPoints.length}}</span>
                </uib-tab-heading>
                <br/>
                <table class="table">
                    <tr><th>Url</th><th>Description</th><th></th></tr>
                    <tr ng-repeat="ep in track.endPoints">
                        <td>{{ep.url}}</td>
                        <td>{{ep.description}}</td>
                        <th><i class="glyphicon glyphicon-remove-sign" ng-click="removeEndPoint($index)"></i></th>
                    </tr>
                    <tr>
                        <td width="50%"><input class="form-control" ng-model="input.epUrl"> </td>
                        <td><input class="form-control" ng-model="input.epDescription"> </td>
                        <th>
                            <i class="glyphicon glyphicon-plus-sign" ng-click="addEndPoint(input.epUrl,input.epDescription)"></i>
                        </th>
                    </tr>
                </table>

            </uib-tab>
            <uib-tab heading='Track configuration'  ng-hide="track.trackType == 'technical'">
                <br/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        Terminology Server
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <input class="form-control" ng-model="input.termServer"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        Conformance Server
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <input class="form-control" ng-model="input.confServer"/>
                    </div>
                </div>
                <div class="row"  ng-show="track.trackType == 'lmreview'">
                    <div class="col-sm-3 col-md-3">
                        Logical Model
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <input class="form-control" ng-model="input.LM"/>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>


    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em ng-hide="canSave">
                    Only the track lead can make changes. (As indicated by the current user in the navbar)
                </em>

                <div ng-show="canSave && ! isNew">
                    <button class="btn btn-danger" ng-click="deleteTrack()">Delete</button>
                </div>

            </div>

        </div>
    </div>
</div>