<div>
    <style>
        #resourceGraph {
            width: 100%;
            height: 280px;
            border: 1px solid lightgray;
        }

    </style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Edit scenario</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-primary pull-right" ng-click="updateScenario()">Update</button>
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">




                <br/>


        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Scenario Name
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" ng-model="scenario.name"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Description (MarkD)
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <textarea class="form-control" ng-model="scenario.description"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        PreCondition
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <textarea class="form-control" ng-model="scenario.precondition"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Success
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <textarea class="form-control" ng-model="scenario.success"></textarea>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Links
                    </div>

                    <div class="col-md-9 col-sm-9">


                                <ul class="list-unstyled">
                                    <li ng-repeat="link in scenario.links">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">

                                                <div uib-popover={{link.url}}
                                                     popover-placement="top"
                                                     popover-trigger="'mouseenter'">{{link.description}}</div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <i class="clickable glyphicon glyphicon-remove-sign pull-right"
                                                   ng-click="removeLink($index)">
                                                </i>
                                            </div>
                                        </div>


                                    </li>
                                </ul>

                        <div class="row">
                            <div class="col-sm-10 col-md-10">
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <i class="clickable glyphicon glyphicon-plus-sign pull-right"
                                   title="Add link" ng-click="addLink(input.link)">
                                </i>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Resources used
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <ul class="list-unstyled">
                            <li ng-repeat="type in scenario.scenarioTypes">
                                <div class="row">
                                    <div class="col-md-10 col-sm-10">
                                        {{type}}
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <i class="clickable glyphicon glyphicon-remove-sign pull-right"
                                           ng-click="removeType($index)">
                                        </i>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <select ng-model="input.resource" class="form-control"
                                ng-change="addType(input.resource)"
                                ng-options = "type.name for type in allResourceTypes"></select>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        Associated CF Scenario
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div ng-show="library.length > 0">
                            <input type="text" ng-model="input.selectedLibraryItem"
                                   placeholder="Select clinFHIR library scenario"
                                   typeahead-on-select = "libraryItemSelected($item, $model, $label, $event)"
                                   uib-typeahead="library.name for library in library | filter:{name:$viewValue} | limitTo:8" class="form-control"/>

                        </div>
                        <div ng-show="! library || library.length <= 0">
                            <em>The Library is empty. Generally this means that it hasn't yet been downloaded from from
                            the Server. This can take a while, so you can close and re-open this dialog if you need to.</em>
                        </div>


                    </div>
                </div>

                <br/>

            </div>
            <div class="col-md-6 col-sm-6">

                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            Action
                        </uib-tab-heading>
                        <br/>
                        <textarea class="form-control" rows="14" ng-model="scenario.action"></textarea>
                        <em>Enter a description of what the scenario should do. MarkDown is supported.</em>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            Steps
                            <span class="badge">{{scenario.steps.length}}</span>
                        </uib-tab-heading>
                        <br/>
                        <strong>Specific steps in scenario</strong>

                        <ol>
                            <li ng-repeat="step in scenario.steps">

                                {{step}}
                            </li>
                        </ol>

                        <hr/>
                        <div class="row">
                            <div class="col-md-1 col-sm-1">
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <textarea class="form-control" ng-model="input.newStep"></textarea>
                            </div>
                            <div class="col-md-1 col-sm-1">
                                <i class="clickable glyphicon glyphicon-plus-sign pull-right"
                                   title="Add step" ng-click="addStep(input.newStep)">
                                </i>
                            </div>
                        </div>
                        <em>Enter the actual steps to complete the scenario</em>
                    </uib-tab>


                    <uib-tab>
                        <uib-tab-heading>
                            Roles
                            <!--<span class="badge">{{scenario.steps.length}}</span>-->
                        </uib-tab-heading>
                        <br/>
                        <div ng-repeat = "role in allRoles">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <checkbox ng-model="input.roles[role.id]"></checkbox>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    {{role.name}}
                                </div>
                            </div>

                        </div>

                    </uib-tab>

                    <uib-tab ng-show="selectedLibrary">
                        <uib-tab-heading>
                            clinFHIR scenario
                        </uib-tab-heading>
                        <ol>
                            <li ng-repeat = "hx in selectedLibrary.history" ng-click="selectHxItem(hx)" style="cursor: pointer">
                                Item  {{$index+1}}
                            </li>
                        </ol>

                        <div id="resourceGraph"></div>
<!--
                        <pre>{{selectedLibrary | json}}</pre>
                        -->
                    </uib-tab>

                </uib-tabset>





            </div>
        </div>



        <br/>







    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="pull-right">
                    <em>{{Scenario.id}}</em>
                </div>


                <a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf" target="_blank">
                    MarkDown cheat sheet
                </a>
                <em>(Markdown is a way to format text with bullets, headings and test formatting by putting specific characters in the text)</em>
            </div>

        </div>
    </div>
</div>