<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">{{titleText}}</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" ng-model="input.name" placeholder="Enter the persons name."/>
            </div>

            <div class="col-md-6 col-sm-6">
               <input class="form-control" placeholder="Email address" ng-model = "input.email"></input>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" ng-model="input.organization" placeholder="What Organization is represented."/>
            </div>

            <div class="col-md-6 col-sm-6">

            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2 col-sm-2">
                Primary track
            </div>
            <div class="col-md-5 col-sm-5">
               <select ng-model="input.primaryTrack" class="form-control"
                       ng-options = "track.name for track in tracks"></select>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6">
                <button ng-show="input.name" class="btn btn-primary pull-right" ng-click="updatePerson()">{{saveText}}</button>
            </div>
        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>Add the details for a new person.</em>

            </div>

        </div>
    </div>
</div>