<div>

    <style>
        #importGraph {
            width: 100%;
            height: 500px;
            border: 1px solid lightgray;
        }

        .scrollList {
            height: 500px;
            overflow-y: scroll;
        }


    </style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 class="modal-title">Import Graph</h3>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button ng-show="selectedGraph" class="btn btn-primary"
                            ng-click="import()">Import</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div  style="margin: 100px" ng-show="waiting">
            Loading all the scenario graphs in this track, please wait...
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="scrollList">

                    <select ng-options = "scenario.name for scenario in allScenarios" class="form-control"
                            ng-model="input.selectedScenario" ng-change="selectScenario(input.selectedScenario)">

                    </select>


                    <ul class="list-group">
                        <li ng-class="{'list-group-item':1,'listItemSelected':selectedGraph.id == graph.id}"
                            ng-repeat="graph in allGraphs" ng-click="selectGraph(graph)">
                            {{graph.scenario.name}}
                            <div><em>{{graph.user.name}}</em></div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-8 col-md-8">

                <div class="importGraph" id="importGraph"></div>



            </div>
        </div>



    </div>

    <div class="modal-header">
        <div class="row">

            <div class="col-md-12 col-sm-12">

                <em>These are all the scenario graphs that have been created for any of the scenarios in this track.
                If you select and import one, the comments and sample data will be stripped out, and a copy created
                for you.</em>

            </div>


        </div>
    </div>
</div>