<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-10 col-sm-10">
                <h3 class="modal-title">Login for {{eventConfig.name}}</h3>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">


<!--
        <div class="row">
            <div class="col-md-2 col-sm-2">
                Event
            </div>
            <div class="col-md-6 col-sm-6">
                <select class="form-control" ng-model='input.item' ng-options="item as item.display for item in keys"
                    ng-change = "dbSelected(input.item)">

                </select>
            </div>
        </div>
        <br/>
-->


        <div class="row" ng-show="state == 'selectUser'">
            <div class="col-md-3 col-sm-3">
                User Name

            </div>

            <div class="col-md-6 col-sm-6">
                <input type="text" ng-model="input.person"
                       placeholder="Enter name, I will auto-complete..."
                       typeahead-on-select = "personSelected($item, $model, $label, $event)"
                       typeahead-editable = 'false'
                       uib-typeahead="person.name for person in allPersons | filter:{name:$viewValue} | limitTo:8" class="form-control"/>

                <br/>
                <button class="btn btn-link " ng-click="addPerson(true)" ng-show="state=='selectUser'">
                    Register new person
                </button>
            </div>

            <div class="col-md-3 col-sm-3">

            </div>

        </div>
        <br/>




        <div ng-show="state == 'addUser'">
            <strong>Register a new person for this event</strong>
            <input class="form-control" placeholder="Enter new persons name" type="text" ng-model="input.newPersonName"/>
        </div>


    </div>

    <div class="modal-header">
        <div class="row">


            <div class="col-md-10 col-sm-10">


                <div ng-show="state=='selectUser'">
                    <em>Enter your name to log in to the event (no password needed). If you have not yet been registered
                    (either by the event organizer or yourself) then click the 'Register' link to register.</em>
                </div>
                <div ng-show="state=='addUser'">
                    <em>Please enter your name to register to this event. Only your name is needed (no password), though it
                    must be unique in the event.</em>
                </div>



            </div>
            <div class="col-md-2 col-sm-2">
                <button ng-show="person || (input.newPersonName)" class="btn btn-primary pull-right"
                        ng-click="login()">Login</button>
            </div>

        </div>
    </div>
</div>