<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Select Patient referenced resource</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-primary pull-right" ng-click="selectResources()">Select</button>
                </div>

                <div class="pull-right">
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="Resources">
                <div class="row">
                    <div class="col-sm-3 col-md-3">

                        <div class="list-group">
                            <div class="list-group-item" style="cursor: pointer" ng-repeat="type in types"
                                 ng-click="selectType(type)">
                                {{type.display}}

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="list-group">
                            <div class="list-group-item" style="cursor: pointer" ng-repeat="resource in selectedTypeObject.resources"
                                 ng-click="showResource(resource)">
                                <div class="clickable pull-right" ng-click="selectOneResource(resource)">Select</div>
                                <p ng-bind-html="resource.text.div | markDown"></p>
                                <p ng-hide="resource.text.div">No text element. Select to view.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <pre ng-show="selectedResource">{{selectedResource | json}}</pre>
                    </div>
                </div>

            </uib-tab>

            <uib-tab>
                <uib-tab-heading>Selected resources <span class="badge">{{selectedResources.length}}</span> </uib-tab-heading>
                <br/>
                <div class="list-group">
                    <div class="list-group-item" style="cursor: pointer" ng-repeat="resource in selectedResources"
                         ng-click="showResource(resource)">
                        <div class="clickable pull-right" ng-click="removeOneResource($index)">Remove</div>
                        {{resource.resourceType}}: <p ng-bind-html="resource.text.div | markDown"></p>
                        <p ng-hide="resource.text.div">No text element. Select to view.</p>
                    </div>
                </div>

            </uib-tab>
            <uib-tab heading="Patient Json">
                <pre>{{patient | json}}</pre>
            </uib-tab>
            <uib-tab heading="All Resources Json">
                <pre>{{allResources | json}}</pre>
            </uib-tab>
        </uib-tabset>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>This will allow you to link to any resource that references the Patient that you
                selected. These resources will be read-only in your graph.</em>

            </div>

        </div>



    </div>
</div>