<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }
        .scrollForm {
            height: 700px;
            overflow-y: scroll;
        }
        .dataPresent {
            color: green;
        }

        .heading {
            padding: 6px;
            font-size: 20px;
            font-weight: 800;
        }
        .required {
            background-color: white;
            color : red;
        }
        .extension {
            background-color: white;
            color : purple;
        }

    </style>

    <div class="rounded-box-filled">
        <div class="row" ng-show="input.type">
            <div class="col-sm-12 col-md-12">
                <div class="heading">{{input.description}} ({{input.type}})</div>
            </div>
            <!--
                    <div class="col-sm-6 col-md-6">



                        <button class="btn btn-link pull-right icon-spacing"
                                ng-click="collapse()">Collapse</button>
                        <button ng-hide="showOnlyPopulated" class="btn btn-link pull-right icon-spacing"
                                ng-click="hideAllWithoutSample()">Hide without data</button>
                        <button ng-show="showOnlyPopulated" class="btn btn-link pull-right icon-spacing"
                                ng-click="showAll()">Show all</button>


                        <button ng-hide = "onlyRefsShown" class="btn btn-link pull-right icon-spacing"
                                ng-click="toggleReferences()">References only</button>
                        <button ng-show = "onlyRefsShown" class="btn btn-link pull-right icon-spacing"
                                ng-click="toggleReferences()">Show all DT</button>

                        <button ng-hide="hideNotes" class="btn btn-link pull-right icon-spacing"
                                ng-click="showNotes(false)">Hide Notes</button>

                        <button ng-show="hideNotes" class="btn btn-link pull-right icon-spacing"
                                ng-click="showNotes(true)">Show Notes</button>

            </div> -->
        </div>
        <div class="row"  ng-show="input.type">
            <div class="col-sm-12 col-md-12">

                <button class="btn btn-link pull-right icon-spacing"
                        ng-click="collapse()">Collapse</button>
                <button ng-hide="showOnlyPopulated" class="btn btn-link pull-right icon-spacing"
                        ng-click="hideAllWithoutSample()">Hide without data</button>
                <button ng-show="showOnlyPopulated" class="btn btn-link pull-right icon-spacing"
                        ng-click="showAll()">Show all</button>


                <div ng-show="formTrack.trackType=='scenario'">
                    <button ng-hide = "onlyRefsShown" class="btn btn-link pull-right icon-spacing"
                            ng-click="toggleReferences()">References only</button>

                    <button ng-show = "onlyRefsShown" class="btn btn-link pull-right icon-spacing"
                            ng-click="toggleReferences()">Show all DT</button>
                </div>




                <button ng-hide="hideNotes" class="btn btn-link pull-right icon-spacing"
                        ng-click="showNotes(false)">Hide Notes</button>

                <button ng-show="hideNotes" class="btn btn-link pull-right icon-spacing"
                        ng-click="showNotes(true)">Show Notes</button>
            </div>

        </div>
    </div>

    <div class="scrollForm">

        <table class="table table-bordered" ng-show="input">
            <tr><th></th><th>Model Element</th><th>Card.</th><th>DataTypes</th>
                <!--<th>Flags</th>-->
                <th>Value</th>
                <th ng-hide="hideNotes">Notes</th></tr>
            <tr ng-repeat="row in input.table" ng-hide="row.isHidden" ng-init="input.tableIndex = $index">
                <td>
                    <i ng-hide="row.childrenHidden || row.isLeaf" class="clickable glyphiconBig glyphicon glyphicon-menu-down"
                        ng-click="hideChildren(row)">
                    </i>

                    <i ng-show="row.childrenHidden" class="clickable glyphiconBig glyphicon glyphicon-menu-right"
                        ng-click="showChildren(row)">
                    </i>

                </td>
                <td>

                    <div ng-show="row.canDelete"><i class="clickable glyphicon glyphicon-minus-sign pull-right"
                                                    title="Delete" ng-click="deleteDuplicate($index,row)">
                    </i></div>

                    <i ng-show="row.isMultiple && row.isOriginal" class="clickable glyphicon glyphicon-plus-sign pull-right"
                       title="Add new row" ng-click="duplicate(row)">
                    </i>



                    <div ng-style="{'padding-left': ((row.path | pathindent) -10)*1.5 +'px'}"
                         uib-popover-html=getPopoverText(row)
                         ng-class="{required:row.isRequired,extension:row.ed.meta.isExtension}"
                         popover-placement="top"
                         popover-trigger="'mouseenter'">
                            {{row.display}}

                            <span ng-hide="row.display">{{row.path | lastInPath}}</span>
                        <!--
                            {{row.path | lastInPath}}

                        <span ng-show="row.sliceName">({{row.sliceName}})</span>
                        -->
                    </div>
                </td>
                <td>
                    {{row.mult}}</td>
                <td>

                    <i ng-hide="row.isBBE || row.isReference"
                       class="clickable glyphicon glyphicon-edit pull-right"
                       uib-popover={{row.structuredData}}
                       popover-placement="top"
                       popover-trigger="'mouseenter'"

                       ng-click="editSample(row,radio[row.id],input.tableIndex)">
                    </i>


                    <div ng-repeat="ref in row.references">
                        <span class="dataPresent"> ==> {{ref.targetItem.description}} </span>
                    </div>

                    <div ng-repeat="type in row.type"  ng-init="sectionIndex = $index">
                        <span ng-hide="type.code == 'Reference'">
                            <span ng-show="row.type.length > 1">
                                <input ng-model="radio[row.id]" ng-value="type.code" type="radio"/>&nbsp;
                            </span>

                            {{type.code}}

                        </span>
                        <span ng-show="type.code == 'Reference'">
                            --> <span class="clickable" ng-click="addReference(row,type,sectionIndex)">
                            {{type.targetProfile | referenceType}}</span>

                            <a class="pull-right" target="_blank" ng-href="{{fhirBasePath}}{{type.targetProfile | referenceType | lowercase}}.html">
                                        <i class="clickable glyphicon glyphicon-question-sign">
                                        </i>
                                    </a>

                        </span>
                    </div>

                    <span ng-hide="row.referenceDisplay || true">
                        <span uib-popover={{row.binding.url}}
                              popover-placement="top"
                              popover-trigger="'mouseenter'">
                            {{row.dt}}
                        </span>

                    </span>
                    <span>

                </span>
                </td>

                <td width="25%">
                    <div ng-hide="row.dt == 'Reference' || row.dt=='BackboneElement' || row.dt=='MarkDown'||  row.path == 'text'" >
                        <textarea ng-disabled = "disabledDirectSample" msd-elastic class="form-control" ng-model="input.sample[row.id]" rows="1"></textarea>
                    </div>

                    <div ng-show="row.path == 'text' || row.dt=='MarkDown'">
                        <p ng-bind-html="input.sample[row.id] | markDown"></p>
                    </div>

                </td>

                <td ng-hide="hideNotes" width="25%">
                    <textarea ng-blur="noteAdded()"  msd-elastic class="form-control" ng-model="input.notes[row.id]" rows="1"></textarea>
                </td>
                <!--<td><pre>{{row | json}}</pre></td>-->
            </tr>
        </table>




    </div>

    <vs-viewer trigger="showvsviewerdialog" term-server="termServer"
               concept-selected="conceptSelected" showvsviewerdialog="showvsviewerdialog"></vs-viewer>


</div>