<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }
        .scrollForm {
            height: 600px;
            overflow-y: scroll;
        }
    </style>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h3>{{input.type}}</h3>
        </div>
        <div class="col-sm-6 col-md-6">
            <button class="btn btn-link pull-right icon-spacing"
                    ng-click="collapse()">Collapse</button>
            <button ng-show="hideWOSampleDisplay" class="btn btn-link pull-right icon-spacing"
                    ng-click="hideAllWithoutSample()">Hide without data</button>
            <button ng-hide="hideWOSampleDisplay" class="btn btn-link pull-right icon-spacing"
                    ng-click="showAll()">Show all</button>
        </div>
    </div>

    <div class="scrollForm">
        <table class="table table-bordered" ng-show="input">
            <tr><th></th><th>Model Element</th><th>Cardinality</th><th>FHIR target</th><th>Sample Value</th><th>Notes</th></tr>
            <tr ng-repeat="row in input.table" ng-hide="row.isHidden">
                <td>

                    <i ng-hide="row.childrenHidden || row.isLeaf" class="clickable glyphiconBig glyphicon glyphicon-menu-down"
                       title="Edit sample" ng-click="hideChildren(row)">
                    </i>

                    <i ng-show="row.childrenHidden" class="clickable glyphiconBig glyphicon glyphicon-menu-right"
                       title="Edit sample" ng-click="showChildren(row)">
                    </i>

                </td>
                <td>
                    <i ng-show="row.isMultiple" class="clickable glyphicon glyphicon-plus-sign pull-right"
                       title="Edit sample" ng-click="duplicate(row)">
                    </i>
                    <div ng-style="{'padding-left': ((row.path | pathindent) -10)*1.5 +'px'}"
                         uib-popover={{row.definition}}
                         popover-placement="top"
                         popover-trigger="'mouseenter'">{{row.path | lastInPath}}</div>
                </td>
                <td>
                    {{row.mult}}</td>
                <td>
                    <div><em>{{row.fhirMapping.map}}</em></div>

                    {{row.referenceDisplay}}
                    <span ng-hide="row.referenceDisplay">
                    <span uib-popover={{row.binding.url}}
                          popover-placement="top"
                          popover-trigger="'mouseenter'">
                        {{row.dt}}
                    </span>

                </span>
                    <span>
                    <i ng-show="row.isCoded" class="clickable glyphicon glyphicon-edit pull-right"
                       title="Edit sample" ng-click="editSample($index)">
                    </i>
                </span>
                </td>
                <td width="25%">
                    <div ng-hide="row.dt == 'Reference'">
                        <textarea msd-elastic class="form-control" ng-model="input.sample[row.id]" rows="1"></textarea>
                    </div>
                </td>
                <td width="25%">
                    <textarea msd-elastic class="form-control" ng-model="input.notes[row.id]" rows="1"></textarea>
                </td>
            </tr>
        </table>
    </div>

    <vs-viewer trigger="showVSViewerDialog" term-server="termServer"
               concept-selected="conceptSelected"></vs-viewer>


</div>