<div>
    <h3>Admin</h3>

    <uib-tabset>
        <uib-tab heading="Track basics">

            <table class="table-bordered table">
                <tr  ng-repeat="track in tracks">
                    <td>{{track.name}}</td>
                    <td>{{track.id}}</td>
                    <td><input type="text" class="form-control" ng-model="track.url"/> </td>
                    <td><button class="btn btn-danger" ng-click="admin_deleteTrack(track)">Delete</button> </td>

                </tr>
            </table>


        </uib-tab>
        <uib-tab heading="Track leads">
            <button style="margin: 8px"  class="btn btn-danger pull-right"
                    ng-click="saveTrackLeads()">Make collection</button>

            <button style="margin: 8px" class="btn btn-primary pull-right"
                    ng-click="adminTrackLeads()">Create list</button>


            <br/>
            <table class="table table-bordered">
                <tr><th>Name</th><th>Email</th><th>Contacts</th></tr>
                <tr ng-repeat="person in admin_trackLeads">
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>
                        <div ng-repeat="contact in person.contact">
                            {{contact.type}}:{{contact.value}}
                        </div>

                    </td>
                </tr>
            </table>

        </uib-tab>
    </uib-tabset>

</div>