<div>
    <h3>Admin</h3>

    <uib-tabset>
        <uib-tab heading="Track basics">

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" ng-click="admin_newTrack">New Track</button>
                </div>
            </div>

            <table class="table-bordered table">
                <tr  ng-repeat="track in tracks">
                    <td>{{track.name}}</td>

                    <td>
                        <textarea ng-model="track.description"
                                  rows="3" class="form-control"
                                  ng-change="dirtyTrack[track.id] = true"></textarea>
                    </td>
                    <td width="40%"><input type="text" class="form-control"
                               ng-change="dirtyTrack[track.id] = true"
                               ng-model="track.url"/> </td>
                    <td width="12%">
                        <button class="btn btn-danger" ng-click="admin_deleteTrack(track)">Delete</button>
                        <button ng-show="dirtyTrack[track.id]" class="btn btn-primary" ng-click="admin_updateTrack(track)">Update</button>
                    </td>


                </tr>
            </table>


        </uib-tab>
        <uib-tab heading="Track leads">
            <button style="margin: 8px"  class="btn btn-danger pull-right"
                    ng-click="saveTrackLeads()">Make collection</button>

            <button style="margin: 8px" class="btn btn-primary pull-right"
                    ng-click="adminTrackLeads()">Create list</button>


            <br/>
            <table class="table table-bordered">
                <tr><th>Name</th><th>Email</th><th>Contacts</th></tr>
                <tr ng-repeat="person in admin_trackLeads">
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>
                        <div ng-repeat="contact in person.contact">
                            {{contact.type}}:{{contact.value}}
                        </div>

                    </td>
                </tr>
            </table>

        </uib-tab>
    </uib-tabset>

</div>