
<div>
    <div class="banner">
        Displays a summary of all the Notes made by users for all Tracks and all Scenarios in this event.
        The summary is aggregated by resource type (including LM).
        <span class="pull-right clickable" style="font-weight: normal" ng-click="refreshAllNotesSummary()">Refresh</span>
    </div>


<div class="row">
    <div class="col-sm-3 col-md-3">


        <ul class="list-group">
            <li ng-repeat="(k,v) in hashAllScenarioNotes"
                ng-class="{'list-group-item':true,active : k == oneTypeAllNotesType}"
                ng-click="selectAllNotes(k,v)">
                <div class="clickable">
                    {{k}} <span ng-show="v.length > 0" class="badge pull-right">{{v.length}}</span>

                </div>
            </li>
        </ul>

    </div>

    <div class="col-sm-9 col-md-9">

        <table class="table">
            <tr><th>Track</th><th>Scenario</th><th>User</th><th>Path</th><th>Note</th></tr>
            <tr ng-repeat="row in oneTypeAllNotes">
                <td>{{row.track.name}}</td>
                <td>{{row.scenario.name}}</td>
                <td>{{row.user.name}}</td>
                <td>{{row.path}}</td>
                <td>{{row.note}}</td>
            </tr>
        </table>

    </div>
</div>
</div>