<div>
    <style>
        #cofGraph {
            width: 100%;
            height: 500px;
            border: 1px solid lightgray;
        }

        .scrollTable {
            height: 500px;
            overflow-y: scroll;
        }

        .scrollScenarioDescription {
            height: 80px;
            overflow-y: scroll;
        }

        .treeNodeHasData {
            font-weight: bold;
            color: darkgreen;
        }

    </style>

    <div class="row" ng-show="selectedTrack">
        <div class="col-sm-2 col-md-2">

            <select class="form-control" ng-model="input.scenario"
                    ng-change="cofSelectScenario(input.scenario)"
                    ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>
            <div class="pull-right"><button class="btn btn-link" ng-click="importGraph()">Import</button> </div>

        </div>
        <div class="col-sm-3 col-md-3">
            <div><strong>Scenario description</strong></div>

            <div class="scrollScenarioDescription">
                <p ng-bind-html="cofScenario.description | markDown"></p>
            </div>
            <!--
            <p uib-popover-html=showDescription(cofScenario.description)
               popover-placement="right"
               popover-trigger="'mouseenter'"
                    ng-bind-html="cofScenario.description | markDown | limitTo:120"></p>

            -->
        </div>

        <div class="col-sm-2 col-md-2">
            <div><strong>Review Purpose</strong></div>
            <div class="scrollScenarioDescription">
                <p ng-bind-html="cofScenario.reviewPurpose | markDown"></p>
            </div>

        </div>
        <div class="col-sm-5 col-md-5">

            <div ng-show="writeNotification">
                <span style="background-color: #00A000; color: white; padding: 5px"
                                                   class="rounded-box pull-right">
                    {{writeNotification}}
                </span>
            </div>


            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        Core resource types
                        <span class="badge">{{cofScenario.scenarioTypes.length}}</span>


                    </uib-tab-heading>
                    <div class="row">
                        <div class="col-sm-3 clickable" ng-repeat="type in cofScenario.scenarioTypes">
                            <span ng-click="selectCofType(type)"  style="cursor:pointer">{{type}}</span>
                        </div>
                        <div class="col-sm-3 clickable" ng-click="selectCoreType()">&gt;Select Direct&lt;</div>
                    </div>
                </uib-tab>
                <uib-tab >
                    <uib-tab-heading>
                        Logical Models
                        <span class="badge">{{cofScenario.lms.length}}</span>


                    </uib-tab-heading>
                    <div class="row">
                        <div class="col-sm-3 clickable" ng-repeat="lm in cofScenario.lms">
                            <span ng-click="selectLM(lm)"  style="cursor:pointer"
                                  uib-popover={{lm.description}}
                                  popover-placement="top"
                                  popover-trigger="'mouseenter'">
                                {{lm.url | getLogicalID}}</span>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab >
                    <uib-tab-heading>
                        Profiles
                        <span class="badge">{{cofScenario.selectedProfiles.length}}</span>


                    </uib-tab-heading>
<!--
                    <button class="btn btn-primary" ng-click="getProfile('LM')">Patient</button>
                    <button class="btn btn-primary" ng-click="getProfile('LMEnc')">Encounter</button>
-->
                    <div class="row">
                        <div class="col-sm-4 clickable" ng-repeat="profile in cofScenario.selectedProfiles">
                            <span ng-click="selectCofProfile(profile)"  style="cursor:pointer">{{profile.name}}</span>
                        </div>

                        <!--<div class="col-sm-4 clickable" ng-click="alert('not yet enabled')">&gt;Select Direct&lt;</div>-->
                    </div>




                </uib-tab>
            </uib-tabset>
        </div>
        <!--
        <div class="col-sm-1 col-md-1">


            <div ng-show="writeNotification"><span style="background-color: #00A000; color: white; padding: 5px"
                    class="rounded-box pull-right">{{writeNotification}}</span></div>


        </div>
-->
    </div>
    <hr/>

    <div class="row">
        <div ng-class="leftPane">
            <uib-tabset>
                <uib-tab heading="List">
                    <br/>
                    <div class="scrollTable">
                        <table class="table table-bordered">
                            <tr><th>Type</th><th>Title</th><th>References</th><th></th></tr>
                            <tr ng-repeat="item in cofTypeList" ng-class="{active:currentItem.id == item.id}">
                                <td><span class="clickable" ng-click="selectItem(item)"> {{item.type}}</span>

                                    <a ng-show="item.category == 'core'" class="pull-right" target="_blank"
                                       ng-href="{{fhirBasePath}}{{item.baseType | lowercase}}.html">
                                        <i class="clickable glyphicon glyphicon-question-sign"></i>
                                    </a>

                                </td>
                                <td><span class="clickable" ng-click="editDescription(item)"> {{item.description}}</span></td>
                                <td>
                                    <div ng-repeat="row in item.table">
                                        <div ng-repeat="ref in row.references">

                                            <i class="clickable glyphicon glyphicon-remove-sign"
                                               title="Remove resource" ng-click="removeReference(row,$index)">
                                            </i>

                                            {{ref.sourcePath}} -> {{ref.targetItem.description}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <i class="clickable glyphicon glyphicon-remove-sign"
                                       title="Remove resource" ng-click="removeItem($index)">
                                    </i>
                                </td>
                            </tr>
                        </table>
                    </div>

                </uib-tab>
                <uib-tab heading="Graph" select = "fitGraph()">
                    <div ng-show="currentItem">
                        <span style="padding: 8px" ng-hide="filteredGraph" class="pull-right clickable" ng-click="setFocus()">Set focus</span>
                        <span style="padding: 8px" ng-show="filteredGraph" class="pull-right clickable" ng-click="setFocus()">Show all</span>
                    </div>
                    <div id="cofGraph"></div>
                </uib-tab>
                <uib-tab heading="Notes on scenario" deselect="resourceNoteUpdated()">

                         <form name="form">
                            <markdown-editor ng-model="input.scenarioNotes"

                                             rows="10"
                                             placeholder="Enter any comments you have about this scenario"
                                             options="mdOptions" >
                            </markdown-editor>
                            <div><strong><em>Please select another tab after updating to ensure notes are saved. This is a limitation being worked on.</em></strong></div>
                        </form>

                </uib-tab>
                <uib-tab heading="Server interaction" ng-hide="selectedTrack.allowDirectSample">
                    <br/>
                    <div class="pull-right"><strong>Server: </strong> {{selectedTrack.dataServer}}</div>

                    <uib-tabset>
                        <uib-tab heading="Save to server">
                            <br/>
                            <div class="row">
                                <div class="col-sm-8 col-md-8">

                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="pull-right">
                                        <button class="btn btn-link" ng-click="validateAll(cofTypeList)">Validate</button>
                                        <button class="btn btn-danger" ng-click="saveToFHIRServer(cofTypeList)">Submit</button>
                                    </div>

                                </div>
                            </div>
                            <hr/>
                            <table class="table table-bordered">
                                <tr><th>Type</th><th>Title</th><th>Id</th><th>Valid</th></tr>
                                <tr ng-repeat="item in cofTypeList" ng-class="{active:currentItem.id == item.id}">
                                    <td>

                                        <span class="clickable" ng-click="selectItem(item)"> {{item.type}}</span>
                                    </td>
                                    <td><span class="clickable" ng-click="editDescription(item)"> {{item.description}}</span></td>
                                    <td>{{item.id}}</td>
                                    <td width="10%">


                                        <div  ng-hide="entry.isLogical" ng-switch on="item.validation.isValid">
                                            <div ng-switch-when="yes">
                                                <i class="glyphicon glyphicon-ok clickable pass"
                                                   title="Resource is valid">
                                                </i>
                                            </div>
                                            <div ng-switch-when="no">
                                                <i class="glyphicon glyphicon-remove clickable fail"
                                                   title="Resource is not valid">
                                                </i>
                                            </div>

                                            <div ng-switch-default>
                                                <i class="glyphicon glyphicon-question-sign clickable"
                                                   title="Validity not yet checked">
                                                </i>
                                            </div>
                                        </div>






                                    </td>
                                </tr>
                            </table>


                        </uib-tab>
                        <uib-tab heading="View on server">

                        </uib-tab>
                    </uib-tabset>



                </uib-tab>
            </uib-tabset>
<!--
            <pre>{{LM | json}}</pre>
-->

        </div>
        <div ng-class="rightPane">
            <uib-tabset ng-show="currentItem">
                <uib-tab heading="Table">
                    <tbl-resource trigger="showResourceTable" reference="cofAddReference"
                                  resource-json="fnResourceJson"
                                  updated="formWasUpdated"
                                  fnshownotes="setShowNotes"></tbl-resource>
                </uib-tab>

                <!-- Think about designer use... -->
                <uib-tab ng-hide='true' heading="Designer">
                   <br/>
                    <ng-include src="'includes/designer.html'"></ng-include>


                </uib-tab>

                <uib-tab heading="Tree">
                    <br/>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="scrollTable">
                                <div id="lmTreeView"></div>
                            </div>

                        </div>
                        <div class="col-sm-8 col-md-8">
                            <uib-tabset>
                                <uib-tab heading = 'Data'>
                                    <pre ng-show="selectedTreeNode">{{selectedTreeNode.data.structuredData | json}}</pre>
                                </uib-tab>
                                <uib-tab heading = 'Json'>
                                    <pre ng-show="selectedTreeNode">{{selectedTreeNode.data | json}}</pre>
                                </uib-tab>
                            </uib-tabset>

                        </div>

                    </div>


                </uib-tab>
                <uib-tab heading="Resource instance">


                    <uib-tabset>
                        <uib-tab heading="Json">
                            <pre>{{resourceJson.resource | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Validation">
                            <div>
                                <button class="btn btn-primary pull-right" ng-click="validateResource(resourceJson.resource)">Validate</button>
                            </div>


                            <!--
                                                        <table class="table table-sm table-bordered">
                                                            <tr><th>Severity</th><th>Description</th><th>Location</th></tr>
                                                            <tr ng-repeat="iss in validationResult.issue">
                                                                <td>{{iss.severity}}</td>
                                                                <td>{{iss.diagnostics}}
                                                                    <div>{{iss.details.text}}</div>

                                                                </td>
                                                                <td>
                                                                    <div ng-repeat="loc in iss.location">
                                                                        {{loc}}
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        </table>

                                                        <pre>{{currentItem.validation | json}}</pre>
                            -->
                            <div><strong>Date Validated:</strong> {{currentItem.validation.date | date:'d/M/yy H:mm' }}
                            ({{currentItem.validation.date | getAgeSeconds}})

                            </div>
                            <table class="table table-sm table-bordered">
                                <tr><th>Severity</th><th>Description</th><th>Location</th></tr>
                                <tr ng-repeat="iss in currentItem.validation.oo.issue">
                                    <td>{{iss.severity}}</td>
                                    <td>{{iss.diagnostics}}
                                        <div>{{iss.details.text}}</div>

                                    </td>
                                    <td>
                                        <div ng-repeat="loc in iss.location">
                                            {{loc}}
                                        </div>
                                    </td>

                                </tr>
                            </table>


                        </uib-tab>
                    </uib-tabset>

                    <!--
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <button class="btn btn-primary" ng-click="validateResource(resourceJson.resource)">Validate</button>
                            <div ng-show="validationResult">
                                <button class="btn btn-link" ng-click="clearValidationResult()">Hide result</button>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <div ng-show="validationResult">
                                <pre>{{validationResult | json}}</pre>
                            </div>
                        </div>
                    </div>
                    -->


                </uib-tab>
                <uib-tab heading="Document specific" ng-show="document.composition">
                    <ng-include src="'includes/document.html'"></ng-include>

                </uib-tab>
                <uib-tab heading="Json">

                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="ele in currentItem.table"
                                ng-click="input.jsonElement = ele">
                                    {{ele.display}}
                                    <div>{{ele.path}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9 col-md-9">
                            <pre>{{input.jsonElement | json}}</pre>
                        </div>
                    </div>

                    <pre>{{currentItem | json}}</pre>
                </uib-tab>



                <!-- This is dev only - ?still useful-->
                <uib-tab  ng-hide='true' heading="Item Json">
                    <pre>{{resourceJson.raw | json}}</pre>
                </uib-tab>
<!--
                <uib-tab heading="Validate">
                    <pre>{{resourceJson.raw | json}}</pre>
                </uib-tab>

                -->

            </uib-tabset>



        </div>
    </div>


</div>