<div>
    <style>
        #cofGraph {
            width: 100%;
            height: 280px;
            border: 1px solid lightgray;
        }

    </style>
    <div class="row" ng-show="selectedTrack">
        <div class="col-sm-2 col-md-2">

            <select class="form-control" ng-model="input.scenario"
                    ng-change="cofSelectScenario(input.scenario)"
                    ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>

        </div>
        <div class="col-sm-3 col-md-3">
            <div><strong>Scenario description</strong></div>
            <p ng-bind-html="cofScenario.description | markDown"></p>
        </div>
        <div class="col-sm-2 col-md-2">
            <div><strong>Review Purpose</strong></div>
            <p ng-bind-html="cofScenario.reviewPurpose | markDown"></p>
        </div>
        <div class="col-sm-4 col-md-4">
            <uib-tabset>
                <uib-tab heading="Core resource types">
                    <div class="row">
                        <div class="col-sm-3 clickable" ng-repeat="type in cofScenario.scenarioTypes">
                            <span ng-click="selectCofType(type)"  style="cursor:pointer">{{type}}</span>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Profiles">

                </uib-tab>
            </uib-tabset>




<!--  <strong>Resource types available</strong>
            <ul>
                <li ng-repeat="type in cofScenario.scenarioTypes" ng-click="selectCofType(type)"
                    style="cursor:pointer">
                    {{type}}
                </li>
            </ul>-->

        </div>
        <div class="col-sm-1 col-md-1">
            <button class="btn btn-primary" ng-click="saveGraph()">Save</button>
        </div>

    </div>
    <hr/>

    <button class="btn btn-link" ng-click="temp()">Test</button>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <uib-tabset>
                <uib-tab heading="List">
                    <br/>
                    <table class="table table-bordered">
                        <tr><th>Type</th><th>Text</th><th>References</th><th></th></tr>
                        <tr ng-repeat="item in cofTypeList">
                            <td><span class="clickable" ng-click="selectItem(item)"> {{item.type}}</span></td>
                            <td><span class="clickable" ng-click="editDescription(item)"> {{item.description}}</span></td>
                            <td>
                                <div ng-repeat="ref in item.references">
                                    {{ref.sourcePath}} -> {{ref.targetItem.description}}
                                </div>
                            </td>
                            <td>
                                <i class="clickable glyphicon glyphicon-remove-sign"
                                   title="Remove resource" ng-click="removeItem($index)">
                                </i>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab heading="Graph" select = "fitGraph()">
                    <div id="cofGraph"></div>
                </uib-tab>
            </uib-tabset>


        </div>
        <div class="col-sm-8 col-md-8">

            <tbl-resource trigger="showResourceTable" reference="addReference"></tbl-resource>
<!--
            <table class="table table-bordered">
                <tr><th>Element</th><th>Example</th><th>Type</th><th>Path</th><th></th><th>Card.</th><th>DataType</th><th>Notes</th><th></th></tr>
                <tr ng-repeat="row in cofScenario.rows">
                    <td>{{row.dataItem}}</td>
                    <td>{{row.example}}</td>
                    <td>{{row.resourceType}}</td>
                    <td>{{row.path}}</td>
                    <td>
                        <i class="glyphicon glyphicon-question-sign" ng-click="x()"
                           uib-popover-html=showEDSummary(row.resourceType,row.path)
                           popover-placement="top"
                           popover-trigger="'mouseenter'"
                        ></i>
                    </td>
                    <td>{{row.mult}}</td>
                    <td>{{row.dataType}}</td>
                    <td>{{row.notes}}</td>
                    <td>
                        <i class="glyphicon glyphicon-remove-sign" ng-click="deleteRow($index)"></i>
                    </td>

                </tr>

                <tr ng-show="cofType && allPaths">
                    <td><input type="text" class="form-control" ng-model="input.dataItem"/> </td>
                    <td><input type="text" class="form-control" ng-model="input.example"/> </td>
                    <td>{{cofType}}</td>
                    <td><select class="form-control" ng-model="input.path"
                                ng-options="path for path in allPaths" ng-change="selectPath(input.path)"></select>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-question-sign" ng-click="x()"
                           uib-popover-html=showEDSummary(cofType,input.path)
                           popover-placement="top"
                           popover-trigger="'mouseenter'"
                        ></i>
                    </td>
                    <td>
                        {{selectedPathElement.min}}..{{selectedPathElement.max}}
                    </td>

                    <td>
                        <div ng-show="rowType">
                            {{rowType}}
                        </div>
                        <div ng-show="rowTypeOptions">
                            <select class="form-control" ng-model="input.rowType"
                                    ng-options="type for type in rowTypeOptions" ></select>
                        </div>
                    </td>
                    <td><textarea class="form-control" ng-model="input.rowNotes"></textarea> </td>
                    <td>
                        <i class="glyphicon glyphicon-plus-sign" ng-click="addRow()"></i>
                    </td>

                </tr>


            </table>

-->

        </div>
    </div>


</div>