<div>

    <style>
        #sumCofGraph {
            width: 100%;
            height: 500px;
            border: 1px solid lightgray;
        }

        .scrollTable {
            height: 500px;
            overflow-y: scroll;
        }

    </style>
    <div class="row" ng-show="selectedTrack">
        <div class="col-sm-2 col-md-2">

            <select class="form-control" ng-model="input.scenario"
                    ng-change="sumSelectScenario(input.scenario)"
                    ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>

        </div>
        <div class="col-sm-6 col-md-6">
            <p ng-bind-html="selectedScenario.description | markDown"></p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-2 col-md-2">
            <ul class="list-group">
                <li ng-repeat="graph in graphs"
                    ng-class="{'list-group-item':true,active:graph.id == selectedGraph.id}" ng-click="selectGraph(graph)">
                    <div class="clickable">{{graph.user.name}}</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-5 col-md-5">
            <h4>{{selectedGraph.user.name}}</h4>
            <div id="sumCofGraph"></div>
        </div>
        <div class="col-sm-5 col-md-5">
            <uib-tabset>
                <uib-tab heading ='All Resources'>
                    <div class="row">
                        <div class="col-sm-4 col-md-4"><h4>Path</h4></div>
                        <div class="col-sm-4 col-md-4">Sample</div>
                        <div class="col-sm-4 col-md-4">Note</div>

                    </div>

                    <div ng-repeat="summary in allHashPathSummaries">
                        <strong>{{summary.type}}</strong>
                        <div class='row' ng-repeat="(k,v) in summary.summary">
                            <div class="col-md-4">
                                {{v.path}}
                            </div>
                            <div class="col-md-4">
                                <div ng-repeat = "sample in v.sample track by $index">{{sample}}</div>
                            </div>
                            <div class="col-md-4">
                                <div ng-repeat = "note in v.notes track by $index">{{note}}</div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading ='Selected Resource'>
                    <h4>{{item.type}}</h4>
                    <table class="table">
                        <tr><th>Path</th><th>Samples</th><th>Notes</th></tr>
                        <tr ng-repeat="(k,v) in hashPathSummary track by $index">
                            <td>{{v.path}}</td>
                            <td><div ng-repeat = "sample in v.sample track by $index">{{sample}}</div></td>
                            <td><div ng-repeat = "note in v.notes track by $index">{{note}}</div></td>
                        </tr>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</div>