<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }

        .scrollForm {
            height: 600px;
            overflow-y: scroll;
        }

        .scrollScenarioDescription {
            height: 80px;
            overflow-y: scroll;
        }


    </style>


    <div class="row" ng-show="selectedTrack">
        <div class="col-sm-2 col-md-2">
            <select class="form-control" ng-model="input.scenario"
                    ng-change="lmCheckSelectScenario(input.scenario)"
                    ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>

        </div>
        <div class="col-sm-5 col-md-5">
            <div class="scrollScenarioDescription">
                <!--
                <p ng-bind-html="lmScenario.description | markDown"></p>
                -->
            </div>

        </div>

        <div class="col-sm-3 col-md-3">
            <textarea msd-elastic class="form-control" ng-model="input.reviewComment" rows="2"
                placeholder="Notes about model - eg missing elements"></textarea>
        </div>

        <div class="col-sm-2 col-md-2">
            <div class="pull-right">

                <div ng-show="writeNotification">
                <span style="background-color: #00A000; color: white; padding: 5px"
                      class="rounded-box pull-right">
                    {{writeNotification}}
                </span>
                </div>

                <button ng-hide="writeNotification" class="btn btn-danger" ng-click="refreshLM()">Refresh model</button>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p ng-bind-html="lmScenario.description | markDown"></p>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="rounded-box">
                <tbl-resource trigger="showResourceTable"
                              reference="addReference"
                              resource-json="fnResourceJson"
                              updated="formWasUpdated"
                              fnshownotes="setShowNotes"></tbl-resource>
            </div>

        </div>
    </div>






    <vs-viewer trigger="showVSViewerDialog" term-server="termServer"
                concept-selected="conceptSelected"></vs-viewer>


</div>