<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }
    </style>

    <div class="row">
        <div class="col-sm-6 col-md-6">

        </div>
        <div class="col-sm-6 col-md-6">
            <button ng-show="hideWOSampleDisplay" class="btn btn-link pull-right icon-spacing" ng-click="hideAllWithoutSample()">Hide without sample</button>
            <button ng-hide="hideWOSampleDisplay" class="btn btn-link pull-right icon-spacing" ng-click="showAll()">Show all</button>
        </div>
    </div>

    <table class="table table-bordered">
        <tr><th></th><th>Field</th><th>Mult.</th><th>DataType</th><th>Sample Value</th></tr>
        <tr ng-repeat="row in table" ng-hide="row.isHidden">
            <td>

                <i ng-hide="row.childrenHidden || row.isLeaf" class="clickable glyphiconBig glyphicon glyphicon-collapse-up"
                   title="Edit sample" ng-click="hideChildren(row)">
                </i>

                <i ng-show="row.childrenHidden" class="clickable glyphicon glyphiconBig glyphicon-collapse-down"
                   title="Edit sample" ng-click="showChildren(row)">
                </i>

            </td>
            <td>
                <div ng-style="{'padding-left': ((row.path | pathindent) -10)*1.5 +'px'}"
                     uib-popover={{row.definition}}
                     popover-placement="top"
                     popover-trigger="'mouseenter'">{{row.path | lastInPath}}</div>

                <i ng-show="row.isMultiple" class="clickable glyphicon glyphicon-plus-sign pull-right"
                   title="Edit sample" ng-click="duplicate(row)">
                </i>
            </td>
            <td>{{row.mult}}</td>
            <td>
                {{row.referenceDisplay}}
                <span ng-hide="row.referenceDisplay">
                    <span uib-popover={{row.binding.url}}
                           popover-placement="top"
                           popover-trigger="'mouseenter'">
                        {{row.dt}}
                    </span>

                </span>
                <span>
                    <i ng-show="row.isCoded" class="clickable glyphicon glyphicon-edit pull-right"
                       title="Edit sample" ng-click="editSample($index)">
                    </i>
                </span>
            </td>
            <td width="50%">
                <div ng-hide="row.dt == 'Reference'">
                    <input class="form-control" ng-model="input.sample[row.id]">
                </div>
            </td>
        </tr>
    </table>

    <vs-viewer trigger="showVSViewerDialog" term-server="termServer"
                concept-selected="conceptSelected"></vs-viewer>


</div>