<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }

        .scrollForm {
            height: 600px;
            overflow-y: scroll;
        }

/*  http://maxdesign.com.au/jobs/sample-fixed-thead/index.htm
        table
        {
            width: 500px;
            border-collapse: collapse;
        }

        thead
        {
            display: block;
            width: 500px;
            overflow: auto;
            color: #fff;
            background: #000;
        }

        tbody
        {
            display: block;
            width: 500px;
            height: 200px;
            background: pink;
            overflow: auto;
        }

        th,td
        {
            padding: .5em 1em;
            text-align: left;
            vertical-align: top;
            border-left: 1px solid #fff;
        }
*/
    </style>



    <uib-tabset>
        <uib-tab heading="All scenarios">
            <div class="row">
                <div class="col-sm-6 col-md-6">

                </div>
                <div class="col-sm-6 col-md-6">
                    <button class="btn btn-primary pull-right" ng-click="refreshAll()">Refresh all summaries</button>
                </div>
            </div>


            <div ng-show="showWarning">
                <div class="alert alert-warning" role="alert">Creating the summary of comments.
                    Please wait as this can take a few seconds...</div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <table ng-show="allScenarioLMSummary" class="fixed_headers table table-bordered">
                        <thead>
                        <tr>
                            <th>Path</th>
                            <th ng-repeat="person in allScenarioLMSummary.persons track by $index">
                                {{person.name}}

                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td>Overall Comment</td>
                            <td ng-repeat="person in allScenarioLMSummary.persons track by $index">

                                <div ng-click="editComment('reviewComment',person.id)">
                                    <p ng-bind-html="allScenarioLMSummary.data['reviewComment-' +person.id] | markDown"></p>

                                </div>

                            </td>
                        </tr>

                        <tr ng-repeat = 'fld in allScenarioLMSummary.fields track by $index'>
                            <td>{{fld}}</td>

                            <div>
                                <td ng-repeat="person in allScenarioLMSummary.persons track by $index">
                                    <div ng-click="editComment(fld,person.id)">
                                        <span class="pull-right badge">{{getComments(fld,person.id).length}}</span>

                                        <div uib-popover-html="getCommentsHTML(fld,person.id)"
                                            popover-placement="top"
                                            popover-trigger="'mouseenter'">


                                        <div ng-repeat="note in getNoteFromAll(fld,person.id)">
                                            {{note.value}}
                                        </div>
                                        </div>
                                        <!--<p ng-bind-html="getNoteFromAll(fld,person.id) | markDown"></p>

                                        <pre>{{getComments(fld,person.id)}}</pre> -->
                                    </div>

                                </td>
                            </div>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>



        </uib-tab>

        <uib-tab heading="Summary by Scenario">
            <br/>
            <div class="row" ng-show="selectedTrack">
                <div class="col-sm-3 col-md-3">
                    <select class="form-control" ng-model="input.scenario"
                            ng-change="lmSummarySelectScenario(input.scenario)"
                            ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>

                </div>
                <div class="col-sm-4 col-md-4">
                    <p ng-bind-html="lmScenario.description | markDown"></p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <p>This display has the comments entered by the users against each element in the model</p>
                </div>

                <div class="col-sm-1 col-md-1">
                    <div class="pull-right">
                        <button ng-show="lmSummaryScenario" class="btn btn-primary" ng-click="refresh()">Refresh Summary</button>
                    </div>
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table ng-show="lmSummary" class="table table-bordered">
                        <tr>
                            <th>Path</th>
                            <th ng-repeat="person in lmSummary.persons">
                                {{person.name}}

                            </th>
                        </tr>

                        <tr>
                            <td>Overall Comment</td>
                            <td ng-repeat="person in lmSummary.persons">

                                <p ng-bind-html="lmSummary.data['reviewComment-' +person.id] | markDown"></p>

                            </td>
                        </tr>

                        <tr ng-repeat = 'fld in lmSummary.fields'>
                            <td>{{fld}}</td>

                            <td ng-repeat="person in lmSummary.persons">

                                <div ng-click="editComment(fld,person.id)">
                                    <span class="pull-right badge">{{getComments(fld,person.id).length}}</span>

                                    <div uib-popover-html="getCommentsHTML(fld,person.id)"
                                         popover-placement="top"
                                         popover-trigger="'mouseenter'">

                                <div ng-repeat="note in getNote(fld,person.id)">
                                    {{note.value}}
                                </div>
                                    </div>
                                </div>
<!--
                                <p ng-bind-html="getNote(fld,person.id) | markDown"></p>
-->

                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </uib-tab>

    </uib-tabset>


</div>