<div>
    <style>
        .glyphiconBig {
            font-size: 20px;
        }

        .scrollForm {
            height: 600px;
            overflow-y: scroll;
        }

    </style>


    <div class="row" ng-show="selectedTrack">
        <div class="col-sm-4 col-md-4">
            <select class="form-control" ng-model="input.scenario"
                    ng-change="lmSummarySelectScenario(input.scenario)"
                    ng-options="scenario.name for scenario in selectedTrack.scenarios"></select>

        </div>
        <div class="col-sm-4 col-md-4">
            <p ng-bind-html="lmScenario.description | markDown"></p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>This display has the comments entered by the users against each element in the model</p>
        </div>

        <div class="col-sm-1 col-md-1">
            <div class="pull-right">
                <button ng-show="lmSummaryScenario" class="btn btn-primary" ng-click="refresh()">Refresh Summary</button>
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table ng-show="lmSummary" class="table table-bordered">
                <tr>
                    <th>Path</th>
                    <th ng-repeat="person in lmSummary.persons">
                        {{person.name}}

                    </th>
                </tr>

                <tr>
                    <td>Overall Comment</td>
                    <td ng-repeat="person in lmSummary.persons">
                        <p ng-bind-html="lmSummary.data['reviewComment-' +person.id] | markDown"></p>

                    </td>
                </tr>

                <tr ng-repeat = 'fld in lmSummary.fields'>
                    <td>{{fld}}</td>

                    <td ng-repeat="person in lmSummary.persons">
                        <p ng-bind-html="getNote(fld,person.id) | markDown"></p>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>