<div>



    <div class="row">

        <div class="col-sm-12 col-md-12">

            <br/>

            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <ul class="list-group">
                        <li ng-class="{'list-group-item':1,
                                                    'listItemSelected':selectedScenarioDirect.id == scenario.id}"
                            style="cursor: pointer"
                            ng-repeat="scenario in selectedTrack.scenarios"
                            ng-click="selectScenarioDirect(scenario)">
                            {{scenario.name}}

                        </li>
                    </ul>

                </div>
                <div class="col-md-9 col-sm-9">
                    <div ng-show="selectedScenarioDirect">

                        <table class="table table-bordered">
                            <tr>
                                <th>Asserter</th><th>Server</th><th>Result</th>
                                <th>Note</th><th>IG</th>
                            </tr>
                            <tr ng-repeat="(key,result) in ecosystemSvc.getAllResults(null,selectedScenarioDirect)">

                                <td>{{result.asserter.name}}</td>
                                <td>{{result.server.name}}</td>
                                <td>{{result.text}}</td>

                                <td>{{result.note}}</td>
                                <td>{{result.IG.name}}</td>
                                <td>
                                    <a href="#" ng-click="editTestResult(result)">edit</a>
                                </td>

                            </tr>
                        </table>




                        <a href="#" ng-click="addTestResult(selectedTrack,selectedScenarioDirect,null,null)">Add new result</a>
                    </div>
                </div>

            </div>


            <!--
            <uib-tabset>
                <uib-tab heading="Comment against Scenario (Direct)">
                    <br/>
                    <p class="banner">This allows a result to be recorded directly against a scenario</p>
                    <div class="row">

                        <div class="col-md-3 col-sm-3">
                            <ul class="list-group">
                                <li ng-class="{'list-group-item':1,
                                                    'listItemSelected':selectedScenarioDirect.id == scenario.id}"
                                    style="cursor: pointer"
                                    ng-repeat="scenario in selectedTrack.scenarios"
                                    ng-click="selectScenarioDirect(scenario)">
                                    {{scenario.name}}

                                </li>
                            </ul>

                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div ng-show="selectedScenarioDirect">


                                <table class="table table-bordered">
                                    <tr>
                                        <th>Type</th><th>Asserter</th><th>Result</th>
                                        <th>Note</th><th>Trackers</th>
                                    </tr>
                                    <tr ng-repeat="(key,result) in ecosystemSvc.getAllResults(null,selectedScenarioDirect)">
                                        <td>{{result.type}}</td>
                                        <td>{{result.asserter.name}}</td>
                                        <td>{{result.text}}</td>

                                        <td>{{result.note}}</td>
                                        <td>
                                            <div ng-repeat="tracker in result.trackers">
                                                {{tracker.url}}
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" ng-click="editTestResult(result)">edit</a>
                                        </td>


                                    </tr>
                                </table>




                                <a href="#" ng-click="addTestResult(selectedTrack,selectedScenarioDirect,null,null)">Add new result</a>
                            </div>
                        </div>

                    </div>

                </uib-tab>


                <uib-tab heading="Identified Client/Server">
                    <br/>
                    <p class="banner">This is used when a scenario only uses 2 participants - a client and a server</p>
                    <div ng-repeat="scenario in selectedTrack.scenarios track by $index">

                        <div class="banner" style="height: 40px">


                                            <span uib-popover-html=getScenarioDescription(scenario)
                                                  popover-placement="top"
                                                  popover-trigger="'mouseenter'">

                                                 {{scenario.name}}
                                            </span>



                            <span class="pull-left">
                                                <button class="btn btn-link" ng-click="addClientToScenario(scenario)">Add Client</button>
                                            </span>

                            <span class="pull-right">
                                                 <button class="btn btn-link" ng-click="addServerToScenario(scenario)">Add Server</button>
                                            </span>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">


                                <table class="table table-bordered">
                                    <tr>
                                        <td width="150px"  >
                                        </td>
                                        <th ng-repeat="server in scenario.servers">
                                            {{server.server.name}}
                                            <div><em>({{server.role.name}})
                                                <i class="clickable glyphicon glyphicon-remove-sign"
                                                   title="Remove server" ng-click="removeServerFromScenario(scenario,server)">
                                                </i>

                                            </em></div>
                                        </th>
                                    </tr>

                                    <tr ng-repeat="client in scenario.clients">
                                        <td><strong>
                                            {{client.client.name}}
                                            <div><em>({{client.role.name}})</em>
                                                <i class="clickable glyphicon glyphicon-remove-sign"
                                                   title="Remove client" ng-click="removeClientFromScenario(scenario,client)">
                                                </i>
                                            </div>
                                        </strong>
                                        </td>
                                        <td ng-repeat="server in scenario.servers">
                                            <a href="#" ng-click="addTestResult(selectedTrack,scenario,client,server)">

                                                                <span uib-popover-html=showTestResultNote(scenario,client,server)
                                                                      popover-placement="top"
                                                                      popover-trigger="'mouseenter'">
                                                                    <p ng-bind-html="showTestResult(scenario,client,server)"></p>
                                                                </span>


                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>


                    </div>


                </uib-tab>


            </uib-tabset>

            -->
        </div>

    </div>
</div>